.one-column {
  &__item {
    margin-bottom: 20px;

    &:last-child {
      margin-bottom: 0;
    }
  }

  &_margin-10 &__item {
    margin-bottom: 10px;

    &:last-child {
      margin-bottom: 0;
    }
  }
}

@media (min-width: map_get($breakpoints, 'tablet')) {
  .one-column {
    &__item {
      margin-bottom: 30px;
    }

    &_margin-10 &__item {
      margin-bottom: 20px;

      &:last-child {
        margin-bottom: 0;
      }
    }
  }
}