.three-columns {
  &__item {
    margin-bottom: 20px;

    &:last-child {
      margin-bottom: 0;
    }
  }

  &_mobile-reverse {
    display: flex;
    flex-direction: column-reverse;
  }

  &_mobile-reverse &__item {
    &:first-child {
      margin-bottom: 0;
    }

    &:last-child {
      margin-bottom: 20px;
    }
  }
}

@media (min-width: map_get($breakpoints, 'tablet')) {
  .three-columns {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;

    &__item {
      width: 50%;
      margin-bottom: 30px;

      &:nth-child(2n - 1) {
        padding-right: 15px;
      }

      &:nth-child(2n) {
        padding-left: 15px;
      }

      &:nth-last-child(1), &:nth-last-child(2) {
        margin-bottom: 0;
      }
    }

    &_mobile-reverse &__item {
      &:last-child {
        margin-bottom: 0;
      }
    }
  }
}

@media (min-width: map_get($breakpoints, 'tablet')) {
  .three-columns {
    display: flex;
    flex-wrap: wrap;

    &__item {
      width: 33.33333%;

      // reset
      &:nth-child(2n - 1), &:nth-child(2n) {
        padding:0;
      }

      &:nth-child(3n - 2) {
        padding-right: 20px;
      }

      &:nth-child(3n - 1) {
        padding-left: 10px;
        padding-right: 10px;
      }

      &:nth-child(3n) {
        padding-left: 20px;
      }

      &:nth-last-child(1), &:nth-last-child(2), &:nth-last-child(3) {
        margin-bottom: 0;
      }
    }
  }
}