.two-columns {
  &__item {
    margin-bottom: 20px;

    &:last-child {
      margin-bottom: 0;
    }
  }

  &_mobile-reverse {
    display: flex;
    flex-direction: column-reverse;
  }

  &_mobile-reverse &__item:last-child {
    margin-bottom: 20px;
  }

  &_mobile-reverse &__item:first-child {
    margin-bottom: 0;
  }
}

@media (min-width: map_get($breakpoints, 'tablet')) {
  .two-columns {
    display: flex;
    flex-wrap: wrap;

    &__item {
      width: 50%;
      margin-bottom: 30px;

      &:nth-child(2n - 1) {
        padding-right: 15px;
      }

      &:nth-child(2n) {
        padding-left: 15px;
      }

      &:nth-last-child(1), &:nth-last-child(2) {
        margin-bottom: 0;
      }
    }

    &_mobile-reverse {
      flex-direction: row;
    }

    &_mobile-reverse &__item:last-child {
      margin-bottom: inherit;
    }

    &_mobile-reverse &__item:first-child {
      margin-bottom: inherit;
    }
  }
}
