.image-section {
  &__img {
    img {
      max-width: 100%;
      border-radius: 10px;
      max-height: 100%;
    }
  }

  &__empty-img {
    display: block;
    background: lighten($light-grey-color, 20) url('../images/svg/image_48px.svg') center center no-repeat;
    width: 100%;
    height: calc((100vw - 60px)*3/4);
    border-radius: 10px;
  }

  &__toolbar {
    margin-top: 20px;
  }
}

@media (min-width: map_get($breakpoints, 'tablet')) {
  .image-section {
    display: flex;

    &__empty-img {
      width: 600px;
      height: 400px;
    }

    &__toolbar {
      width:25%;
      padding-left: 15px;
      flex-shrink: 0;
      margin-top: 0;
    }

    &__img {
      max-height: 600px;
      padding-right: 15px;
    }
  }
}