.materials-section {
  display: flex;
  justify-content: flex-start;
  flex-wrap: wrap;

  &__item {
    width: 50%;
    margin-bottom: 20px;

    &:nth-child(2n - 1) {
      padding-right: 10px;
    }

    &:nth-child(2n) {
      padding-left: 10px;
    }

    &:nth-last-child(1), &:nth-last-child(2) {
      margin-bottom: 0;
    }
  }
}

@media (min-width: map_get($breakpoints, 'tablet')) {
  .materials-section {
    display: flex;
    flex-wrap: wrap;

    &__item {
      width: auto;
      margin-bottom: 30px;

      // reset
      &:nth-child(2n - 1), &:nth-child(2n) {
        padding: 0;
      }

      &:nth-child(4n - 3) {
        padding-right: 40px;
      }

      &:nth-child(4n - 2), &:nth-child(4n - 1) {
        padding-right: 20px;
        padding-left: 20px;
      }

      &:nth-child(4n) {
        padding-left: 40px;
      }

      &:nth-last-child(1), &:nth-last-child(2), &:nth-last-child(3), &:nth-last-child(4) {
        margin-bottom: 0;
      }
    }
  }

}