.my-acceptances-section {
  &__heading {
    font-size: $h2-font-size;
    font-weight: 500;
    color: $black;
    margin-bottom: 20px;
  }

  &__button {
    display: block;
  }
}

@media (min-width: map_get($breakpoints, 'tablet')) {
  .my-acceptances-section {
    &__heading {
      font-size: $h1-font-size;
      margin-bottom: 30px;
    }

    &__button {
      max-width: 300px;
    }
  }
}