.user-profile-section {
  &__item {
    display: block;
    padding: 15px 30px;
    border-bottom: 1px solid $border-grey-color;

    &:hover {
      text-decoration: none;
    }

    &:last-child {
      border-bottom: 0;
    }
  }

  &__item_delete &__value {
    color: $error-color;
  }

  &__value {
    font-size: 20px;
    font-weight: 700;
    color: $black;
  }
}