.discounts {
  &__heading {
    font-size: $p-font-size;
    color: $light-grey-color;
    margin-bottom: 10px;
    margin-left: 30px;
  }
}

@media (min-width: map_get($breakpoints, 'tablet')) {
  .discounts__heading {
    margin-left: 0;
  }
}