.empty-page {
  padding: 0 30px;

  &__heading {
    margin-bottom: 15px;
  }
  &__content {
    margin-bottom: 15px;
    background: $white;
    padding: 30px;
    border-radius: 10px;
    border: 1px solid $border-grey-color;
  }
  &__description {
    margin-bottom: 30px;
  }

  &__button {
    display: block;
    margin-bottom: 15px;

    &:last-child {
      margin-bottom: 0;
    }
  }
}

@media (min-width: map_get($breakpoints, 'tablet')) {
  .empty-page {
    padding: 0 60px;
    position: relative;

    &__content {
      padding: 30px;
      width:calc(66.6666% - 15px);
    }

    &__button {
      max-width: 300px;

      &_secondary {
        max-width: 200px;
      }
    }

    &:after {
      content: '';
      position: absolute;
      right: -100px;
      top: -30px;
      display: inline-block;
      width:calc(50% - 15px);
      height: 560px;
      background: url('../images/general/woman_illustration.png') no-repeat center -30px;
    }
  }
}