.page-404 {
  width: 100%;
  height: 100vh;

  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0 30px;

  &__content {
    max-width: 600px;
  }

  &__heading {
    margin-bottom: 5px;
  }

  &__description {
    margin-bottom: 20px;
  }
}