.settings {
  &__wrapper {
    background: $white;
    border-top: 1px solid $border-grey-color;
    border-bottom: 1px solid $border-grey-color;
  }

  &__description {
    margin-bottom: 20px;

    &:last-child {
      margin-bottom: 0;
    }
  }

  &__content {
    padding: 30px;
  }

  &__heading {
    margin-bottom: 15px;
  }

  &__download {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 20px;
    border-radius: 4px;
    background: $primary-color;
    width: 170px;
    padding: 15px 0;
    font-weight: 500;
    color: $white;

    &:before {
      content: '';
      display: block;
      width: 24px;
      height: 24px;
      background: url('../images/svg/download_24px_white.svg') center center no-repeat;
      margin-right: 10px;
      margin-left: -12px;
    }
  }

  &__delete {
    display: block;
    margin-top: 20px;
    width: 120px;
  }

  &__divider {
    margin-bottom: 20px;
  }

  &__subheading {
    margin-bottom: 5px;
  }

  &__discount {
    margin-top: 20px;
    border-left:1px solid $border-grey-color;
    padding: 5px 0 5px 20px;
  }
}

@media (min-width: map_get($breakpoints, 'tablet')) {
  .settings {
    &__content {
      padding: 45px 60px;
    }

    &__description {
      margin-bottom: 30px;
    }

    &__subheading {
      margin-bottom: 10px;
    }
  }
}

@media (min-width: map_get($breakpoints, 'desktop')) {
  .settings {
    padding: 0 60px;

    &__divider {
      margin-bottom: 25px;
    }

    &__heading {
      display: none;

      &_shown {
        display: block;
      }
    }

    &__wrapper {
      display: flex;
      border-radius: 10px;
    }

    &__menu {
      overflow: hidden;
      border-radius: 10px 0 0 10px;
      width: 270px;
      flex-shrink: 0;
    }

    &__content {
      width: 100%;
      padding: 60px;
    }
  }
}