.statistics {
  &__wrapper {
    background: $white;
    border-top: 1px solid $border-grey-color;
    border-bottom: 1px solid $border-grey-color;
  }

  &__content {
    padding: 30px;
  }

  &__section {
    margin-bottom: 30px;

    &:last-child {
      margin-bottom: 0;
    }
  }

  &__heading {
    margin-bottom: 15px;
  }

  &__subheading {
    margin-bottom: 20px;
    font-size: $p-font-size;
    color: $dark-grey-color;
    font-weight: 400;
    font-style:italic;
  }

  &__money {
    font-weight: 700;
    font-size: $big-font-size;
    color: $black;
  }

  &__chart {
    position: relative;
  }

  &__info {
    margin-top: 20px;
    padding-top: 20px;
    border-top: 1px solid $border-grey-color;
  }

  &__legend {
    margin-bottom: 20px;
  }

  &__additional-info {
    margin-bottom: 20px;
    padding: 15px;
    background: $primary-light-color;
    border-radius: 10px;

    &:last-child {
      margin-bottom: 0;
    }
  }

  &__emphasized {
    position: relative;
    display: inline-block;
    font-weight: 700;
    color: $black;
  }

  &__countries {
    width: 100%;
  }

  &__countries + &__info {
    border-top: 0;
    padding-top: 0;
  }
}

@media (min-width: map_get($breakpoints, 'tablet')) {
  .statistics {
    &__content {
      padding: 45px 60px;
    }

    &__section {
      margin-bottom: 50px;
    }

    &__data {
      display: flex;
    }

    &__legend {
      margin-bottom: 30px;
    }

    &__info {
      width: 250px;
      padding: 0 0 0 60px;
      flex-shrink: 0;

      margin-top: 0;
      border-top: 0;

      h3 {
        margin-top: 0;
      }
    }

    &__additional-info {
      margin-bottom: 30px;
      padding: 15px 30px;
    }

    &__chart {
      width: 100%;
    }
  }
}

@media (min-width: map_get($breakpoints, 'desktop')) {
  .statistics {
    padding: 0 60px;

    &__info {
      width: 330px;
    }

    &__heading {
      display: none;

      &_shown {
        display: block;
      }
    }

    &__wrapper {
      display: flex;
      border-radius: 10px;
    }

    &__menu {
      overflow: hidden;
      border-radius: 10px 0 0 10px;
      width: 270px;
      flex-shrink: 0;
    }

    &__content {
      width: 100%;
      padding: 60px;
    }
  }
}