.terms-of-service {
  section {
    margin-bottom: 20px;

    &:last-child {
      margin-bottom: 0;
    }
  }

  h2, p {
    margin-bottom: 10px;

    &:last-child {
      margin-bottom: 0;
    }
  }
}