.upload-files {
  &__form {
    .two-columns {
      margin-bottom: 20px;
    }
  }
}

@media (min-width: map_get($breakpoints, 'tablet')) {
  .upload-files {
    &__form {
      .two-columns {
        margin-bottom: 30px;
      }
    }
  }
}