.discounts-section
    .three-columns
       each item in discountsNotActive
        .three-columns__item
            +discount(item['code'], item['discount_amount']+'%', item['users_count'], true, item['id'])
