.discounts-section
    .three-columns
     each item in discountsActive
        .three-columns__item
            +discount(item['code'],item['discount_amount']+'%', item['users_count'], item['id'])


