include items.pug.blade

mixin button(priority, text, type)
    if priority == '3'
        - var buttonClass = 'tertiary'
    else if priority == '2'
        - var buttonClass = 'secondary'
    else
        - var buttonClass = 'primary'

    if (type==='input')
        input(type='submit', class='button button_' + buttonClass, value=text)
    else
        button(class='button button_' + buttonClass)=text

mixin social-button(type, text)
    button(class='button button_secondary button_social button_' + type) #{text}

mixin input(identifier, type, text, required, attr, content, comment)
    if (content === null)
        - content = {}

    if (type === 'hidden')
        - var additionalClasses = 'form__item_hidden'
    else if (type === 'method')
        - var additionalClasses = 'form__item_hidden'
    else
        - var additionalClasses = ''

    .form__item(class=additionalClasses)
        if (type === 'checkbox')
            .form__input.form__input_checkbox
                input(id=identifier, name=identifier, type=type, required=required)&attributes(attr)
                label(for=identifier, class="form__label form__label_checkbox")!=text
        else if (type === 'password')
            .form__input.form__input_password
                label(for=identifier, class="form__label")=text
                input(id=identifier, name=identifier, type=type, required=required)&attributes(attr)
                span.form__toggle-password
                    i.far.fa-eye
        else if (type === 'select')
            .form__input
                label(for=identifier, class="form__label")=text
                select(id=identifier, name=identifier, class="js-select", required=required)&attributes(attr)
                    option(value="")
                    if (is_array(content[0]))
                        each x in content
                            if x.id === attr.value
                                option(value=x.id, selected)=x.name
                            else
                                option(value=x.id)=x.name
                    else
                        each x, i in content
                            if i === attr.value
                                option(value=i, selected)=x
                            else
                                option(value=i)=x
        else if (type === 'tags')
            .form__input
                label(for=identifier, class="form__label")=text
                select(id=identifier, name=identifier, class="js-tags", required=required)&attributes(attr)
                    option(value="")
                    each x in content
                        if x.id === attr.value
                            option(value=x.id, selected)=x.name
                        else
                            option(value=x.id)=x.name
        else if (type === 'textarea')
            .form__input
                if (text)
                    label(for=identifier, class="form__label")=text
                textarea(id=identifier, name=identifier, required=required)&attributes(attr)
        else if (type === 'date')
            .form__input
                if (text)
                    label(for=identifier, class="form__label")=text
                input(id=identifier, name=identifier, type='text', required=required, class="js-date")&attributes(attr)
        else if (type === 'file')
            .form__input
                label(for=identifier, class="form__file-label")=text
                input(id=identifier, name=identifier, type=type, required=required)&attributes(attr)
        else if (type === 'hidden')
            input(id=identifier, name=identifier, type=type, required=required)&attributes(attr)
        else if (type === 'method')
            input(id='_method', name='_method', value=identifier, type='hidden', required=required)&attributes(attr)
        else
            .form__input
                if (type !== 'submit')
                    label(for=identifier, class="form__label")=text
                    if (identifier)
                        input(id=identifier, name=identifier, type=type, required=required)&attributes(attr)
                    else
                        input(type=type, required=required)&attributes(attr)
                else
                    input(type=type, id=identifier, name=identifier, value=text, class='button button_primary')&attributes(attr)
        if comment
            .form__comment
                span #{comment}


mixin inputSelect(identifier, type, text, required, attr, content, comment)
    if (content === null)
        - content = {}

    if (type === 'hidden')
        - var additionalClasses = 'form__item_hidden'
    else if (type === 'method')
        - var additionalClasses = 'form__item_hidden'
    else
        - var additionalClasses = ''

    .form__item(class=additionalClasses)
        if (type === 'checkbox')
            .form__input.form__input_checkbox
                input(id=identifier, name=identifier, type=type, required=required)&attributes(attr)
                label(for=identifier, class="form__label form__label_checkbox")!=text
        else if (type === 'password')
            .form__input.form__input_password
                label(for=identifier, class="form__label")=text
                input(id=identifier, name=identifier, type=type, required=required)&attributes(attr)
                span.form__toggle-password
                    i.far.fa-eye
        else if (type === 'select')
            .form__input
                label(for=identifier, class="form__label")=text
                select(id=identifier, name=identifier, class="js-select", required=required)&attributes(attr)
                    option(value="custom")='-- Custom --'
                    if (is_array(content[0]))
                        each x in content
                            if x.id === attr.value
                                option(value=x.id, selected)=x.name
                            else
                                option(value=x.id)=x.name
                    else
                        each x, i in content
                            if i === attr.value
                                option(value=i, selected)=x
                            else
                                option(value=i)=x
        else if (type === 'tags')
            .form__input
                label(for=identifier, class="form__label")=text
                select(id=identifier, name=identifier, class="js-tags", required=required)&attributes(attr)
                    option(value="")
                    each x in content
                        if x.id === attr.value
                            option(value=x.id, selected)=x.name
                        else
                            option(value=x.id)=x.name
        else if (type === 'textarea')
            .form__input
                if (text)
                    label(for=identifier, class="form__label")=text
                textarea(id=identifier, name=identifier, required=required)&attributes(attr)
        else if (type === 'date')
            .form__input
                if (text)
                    label(for=identifier, class="form__label")=text
                input(id=identifier, name=identifier, type='text', required=required, class="js-date")&attributes(attr)
        else if (type === 'file')
            .form__input
                label(for=identifier, class="form__file-label")=text
                input(id=identifier, name=identifier, type=type, required=required)&attributes(attr)
        else if (type === 'hidden')
            input(id=identifier, name=identifier, type=type, required=required)&attributes(attr)
        else if (type === 'method')
            input(id='_method', name='_method', value=identifier, type='hidden', required=required)&attributes(attr)
        else
            .form__input
                if (type !== 'submit')
                    label(for=identifier, class="form__label")=text
                    if (identifier)
                        input(id=identifier, name=identifier, type=type, required=required)&attributes(attr)
                    else
                        input(type=type, required=required)&attributes(attr)
                else
                    input(type=type, id=identifier, name=identifier, value=text, class='button button_primary')&attributes(attr)
        if comment
            .form__comment
                span #{comment}

mixin logo()
    a(href=route('profile'), class='logo-wrapper')
        .logo

mixin hamburger()
    .hamburger.js-hamburger
        .hamburger__line
        .hamburger__line
        .hamburger__line


if (empty(app('request')->request->all()))
    - var filterClass = 'name'
else
    - var filterClass = 'set'

mixin filter(items)
    .filter
        each item in items
            .filter__item
                if item[0]
                    span.filter__label #{item[0]}

                if item[0] === 'Filter'
                    if category === 'Past Salons'
                        a(class="filter__" + filterClass href="#filter-past-salons-modal", rel="modal:open") #{item[1]}
                    else if category === 'Users'
                        a(class="filter__" + filterClass href="#filter-users-modal", rel="modal:open") #{item[1]}
                    else if category === 'Future Salons'
                        a(class="filter__" + filterClass href="#filter-future-salons-modal", rel="modal:open") #{item[1]}
                    else if category === 'Gallery'
                        a(class="filter__" + filterClass href="#filter-gallery-modal", rel="modal:open") #{item[1]}
                    else
                        a(class="filter__" + filterClass href="#filter-modal", rel="modal:open") #{item[1]}
                else if item[0] === 'Dates'
                    a(href="#dates-modal", rel="modal:open") #{item[1]}
                else
                    a(href="#") #{item[1]}

mixin back-button(href)
    a.back-button(href=href)
        p Back

mixin search(action, params)
    form.search(method='GET')
        | @csrf
        if strpos(app('request')->url(), 'gallery') != false
            input.search__input(type="text", id="search_input", name="filter-image-title", placeholder="Quick search...", value=app('request')->input('filter-image-title'))
        else
            input.search__input(type="text", id="search_input", name="filter-salon-name", placeholder="Quick search...", value=app('request')->input('filter-salon-name'))
        input.search__submit(type="submit", id="search_submit", name="search_submit", value="")

mixin skip-button(href)
    a.skip-button(href=href)
        if title === 'Upload'
            p Save
        else
            p Skip

mixin sidemenu-secondary(items)
    .sidemenu-secondary
        each item in items
            - var itemClass = "sidemenu-secondary__item sidemenu-secondary__item_" + item[2]

            - // if that's active item
            if (item[3])
                - itemClass = itemClass + ' sidemenu-secondary__item_active'

            div(class=itemClass)
                a.sidemenu-secondary__link(href = item[1])
                    span #{item[0]}

mixin toolbar(items)
    .toolbar
        each item in items
            - var itemClass = "toolbar__item toolbar__item_" + item[2]
            - if (item[1][0] === '#') { var rel = 'modal:open'; } else {var rel = false;}

            div(class=itemClass)
                a.toolbar__link(href = item[1], rel=rel, data-id=item[3])
                    span #{item[0]}

mixin legend(items)
    .legend
        - var i = 0
        each item in items
            - var itemClass = "legend__item";


            - if (i == 0) {itemClass = itemClass + " legend__item_primary";} else if (i == 1) {itemClass = itemClass + " legend__item_secondary"; } else if (i == 2) {itemClass = itemClass + " legend__item_tertiary";}

            div(class=itemClass)
                .legend__info
                    p.legend__name #{item[0]}
                        span.legend__number #{item[1]}
                a.legend__link(href = item[2])
                    span See all

            - i++;

mixin table-row(items)
    tr
        each item in items
            td #{item}
        td(class="footable-last-column")
            .acceptances-table__actions
                a(href="#" data-id=items.id).acceptances-table__edit.js-edit-acceptance Edit
                a(href="#" data-id=items.id).acceptances-table__delete.js-delete-acceptance Delete


mixin table-header-row(items)
    tr
        each item in items
            - var name = 'acceptance-' + trim(item.toLowerCase().split(' ').join('-').split('_').join('-'));

            if ((item === 'ID') || (item === 'Salon_id'))
                th(data-name=name, data-type="number", data-visible="false")
            else
                if (item === 'Salon name')
                    - var breakpoints=""
                else if (item === 'Image title')
                    - var breakpoints=""
                else if (item === "Award")
                    - var breakpoints="xs"
                else if (item === "Country")
                    - var breakpoints="xs sm"
                else if (item === "Patronages")
                    - var breakpoints="xs sm md"
                else
                    - var breakpoints="all"
                    - var name = 'acceptance-custom-' + trim(item.toLowerCase().split(' ').join('-'));
                th(data-breakpoints=breakpoints, data-name=name)
                    .acceptances-table__heading-cell
                        span #{item}
        th(data-name="actions", data-breakpoints="all", class="footable-last-column") Actions


mixin form-patronages()
    .form__item.form__item_patronages
        .form__description
            span Patronages
        .form__patronages.patronages.js-patronages
            .patronages__header
                .patronages__title
                    span Organization
                .patronages__title
                    span Number

            .patronages__items
                if (item.patronages)
                    each p in item.patronages
                        .patronages__item
                            .patronages__delete.patronages__delete_hidden
                            .patronages__two-columns
                                .patronages__column
                                    .form__input
                                        label(for='organization', class="form__label") Organization
                                        input(name='organizations[' + p.id + ']' id='organization', type='text',
                                            required=true, value=p.organization
                                            placeholder='e.g. FIAP')
                                .patronages__column
                                    .form__input
                                        label(for='number', class="form__label") Number
                                        input(name='numbers[' + p.id + ']' id='number', type='text',
                                            required=true, value=p.number
                                            placeholder='e.g. 2013/47')
                else
                    .patronages__item
                        .patronages__delete.patronages__delete_hidden
                        .patronages__two-columns
                            .patronages__column
                                .form__input
                                    label(for='organization', class="form__label") Organization
                                    input(name='organizations[]' id='organization', type='text', required=true,
                                        placeholder='e.g. FIAP')
                            .patronages__column
                                .form__input
                                    label(for='number', class="form__label") Number
                                    input(name='numbers[]' id='number', type='text', required=true,
                                        placeholder='e.g. 2013/47')

            .patronages__add-item.js-add-patronage
                span + add patronage


mixin sidemenu-items(items)
    ul
        each item in items
            - var name = item[0].toLowerCase().split(' ').join('-');
            if (category === item[0])
                li.sidemenu__item.sidemenu__item_active(class='sidemenu__item_' + name)
                    a(href=item[1]) #{item[0]}
            else
                li.sidemenu__item(class='sidemenu__item_' + name)
                    a(href=item[1]) #{item[0]}
        li.sidemenu__item.sidemenu__item_logout
            a(href=route('logout')) Log out


mixin form-subscriptions()
    .form__radio
        .three-columns
            each plan in config('payments.plans')
                .three-columns__item
                    .form__radio-item
                        +input-subscription(plan.months, plan.price)
                        label(for="subscription" + plan.months)=plan.description

mixin input-subscription(option, price)
    if months && months == option
        input(type="radio", id="subscription" + option, name="months", data-bill=price, value=option checked)
    else
        input(type="radio", id="subscription" + option, name="months", data-bill=price, value=option)

mixin form-payment-methods()
    .form__radio
        .three-columns
            .three-columns__item
                .form__radio-item
                    input(type="radio", id="paymentMethod1", name="payment-radio", value="1", checked)
                    label(for="paymentMethod1") PayPal

mixin bill(money)
    .bill
        p.bill__text Total billed today:
        p.bill__number $
            span.bill__amount #{money}

mixin categories(items)
    .categories
        each item in items
            if (item[2] === true)
                .categories__item.categories__item_active #{item[0]}
            else
                a.categories__item(href=item[1]) #{item[0]}

mixin user(name, surname, country, id)
    .user
        .user__info
            if (name || surname)
                a.user__name(href=route('admin.user.profile',id)) #{name}
                a.user__name(href=route('admin.user.profile',id)) #{surname}
            else
                a.user__name(href=route('admin.user.profile',id)) Unverified user
            p.user__country #{country}
        .user__actions
            a.user__edit(href=route('admin.user.profile',id)) See more

mixin error(text, display)
    if (display)
        .error
            p #{text}

mixin gdpr()
    .gdpr.gdpr_hidden
        p.gdpr__description We want <a href="/template/terms-of-service.html#cookies" target="_blank">to use cookies</a>
        .gdpr__actions
            p.gdpr__allow.js-gdpr-allow Allow
            p.gdpr__deny.js-gdpr-deny Deny

mixin discount(name, percentage, users, id, isDeleted)
    if isDeleted
        - var additionalClasses = 'discount_deleted'
    else
        - var additionalClasses = ''

    .discount.content-block(class=additionalClasses)
        h3.discount__name #{name}
        .discount__info
            p.discount__percentage Discount: <b>#{percentage}</b>
            p.discount__users Users: <b>#{users}</b>
        if !isDeleted
            .discount__actions
                a.discount__delete(href='#delete-discount-modal', rel="modal:open", data-id=id) Delete
