.edit-columns-item {
  /*
  * BLOCK
  */

  padding: 15px;
  border:1px solid $border-grey-color;
  border-radius: 4px;

  /*
  * ELEMENTS
  */
  &__name {
    margin-bottom: 5px;
  }

  &__comment {
    font-size: $small-font-size;
    color: transparentize($dark-grey-color, 0.4);
  }

  &__edit {
    margin-right: 10px;
  }

  /*
  * MODIFIERS
  */
  &_required {
    background: darken($background-grey-color, 8);
    color: $dark-grey-color;
  }
}

@media (min-width: map_get($breakpoints, 'tablet')) {
  .edit-columns-item {
    display: flex;
    justify-content: space-between;
    align-items: center;

    &__name {
      margin-bottom: 0;
    }

    &__edit {
      margin-right: 15px;
    }
  }
}