.future-salons-item {
  display: block;
  background: $white;
  border-radius: 10px;
  border: 1px solid $border-grey-color;
  border-left: 10px solid $primary-color;
  transition: .2s ease-out;
  overflow: hidden;

  &:hover {
    text-decoration: none;
    transform: scale(1.01);
    box-shadow: 0 0 12px transparentize($primary-color, 0.9);
  }

  &__header, &__footer {
    padding: 30px;
  }

  &__footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: $primary-light-color;
    border-top: 1px solid $border-grey-color;
  }

  &__heading {
    font-size: $h2-font-size;
    line-height: 125%;
    margin-bottom: 10px;

    &:last-child {
      margin-bottom: 0;
    }
  }

  &__arrow {
    display: block;
    height: 10px;
    width: 30px;
    background: url('../images/svg/arrow-right-black.svg') no-repeat center center;
  }

  &__date {
    color: $primary-color;
    margin-bottom: 10px;
  }

  &__type {
    font-size: $h3-font-size;
    color: $dark-grey-color;
    font-weight: 500;
  }

  &_upcoming {
    border-left-color: $secondary-color;
  }
}


@media (min-width: map_get($breakpoints, 'tablet')) {
  .future-salons-item {
    &__info {
      display: flex;
    }

    &__date {
      margin-bottom: 0;
      margin-right: 15px;
      line-height: 26px;
    }
  }
}

@media (min-width: map_get($breakpoints, 'desktop')) {
  .future-salons-item {
    display: flex;
    justify-content: space-between;

    &__header {
      padding:60px;
    }

    &__heading {
      font-size: $h1-font-size;
    }

    &__footer {
      position: relative;
      display: flex;
      align-items: center;
      min-width: 250px;

      margin-right: 150px;

      border-right: 1px solid $border-grey-color;
      border-left: 1px solid $border-grey-color;
      border-top: 0;
    }

    &__arrow {
      position: absolute;
      transform: translateX(278px);
    }

    &__info {
      display: block;
    }
  }
}