.gallery-item {
  display: block;
  position: relative;
  border-radius: 10px;
  background: lighten($light-grey-color, 20) url('../images/svg/image_48px.svg') center center no-repeat;
  height: calc((100vw - 60px)*3/4);
  transition: .2s ease-out;

  &:hover {
    text-decoration: none;
    transform: scale(1.01);
    box-shadow: 0 0 12px transparentize($primary-color, 0.9);
  }

  &__content {
    height: 100%;
    display: flex;
    align-items: flex-end;
    border-radius: 10px;
    padding: 15px 30px;
    background: linear-gradient(to top, transparentize($black, 0.4) 0, transparent 100%);
    background-size: cover;
    background-position: center center;
  }

  &__heading {
    color: $white;
  }

  &_empty {
    background: $primary-light-color;
    border: 1px solid $border-grey-color;
  }

  &_empty &__heading {
    color: $black;
  }

  &_empty &__content {
    background: transparent;
  }

  &__upload {
    display: block;
    position: absolute;
    right: 15px;
    top: 15px;
    height: 60px;
    width: 60px;
    border-radius: 50%;
    background: url('../images/svg/add_a_photo_24px.svg') center center no-repeat, $primary-gradient center center no-repeat/cover;
    transition: .2s ease-out;
    cursor: pointer;
  }
}

@media (min-width: map_get($breakpoints, 'tablet')) {
  .gallery-item {
    height: 200px;
    height: calc(((100vw - 180px)/3)*3/4);
  }
}

@media (min-width: map_get($breakpoints, 'desktop')) {
  .gallery-item {
    height: calc(((100vw - 480px)/3)*3/4);

    &__upload {
      right: 30px;
      top: 30px;
    }
  }
}