.general-information-item {
  display: flex;
  flex-direction: column;

  background: $white;
  border-radius: 10px;
  border: 1px solid $border-grey-color;

  &__label {
    display: flex;
    justify-content: space-between;
    align-items: center;

    width: 100%;
    background: $primary-light-color;
    color: $light-grey-color;
    padding: 15px;
    border-bottom: 1px solid $border-grey-color;
    border-radius: 10px 10px 0 0;
    font-size: $small-font-size;

    span {
      display: block;
      line-height: 1.5;
    }
  }

  &__text {
    overflow: auto;
    padding: 15px;
    font-size: $p-font-size;
    font-weight: 500;
  }

  &__notification {
    display: block;
    width: 24px;
    height: 24px;
    flex-shrink: 0;
    background: url('/static/images/svg/notification_24px.svg') center/24px no-repeat, url('/static/images/svg/notification_24px_primary.svg') center/24px no-repeat;

    &:hover {
      background: url('/static/images/svg/notification_24px_primary.svg') center/24px no-repeat;
    }

    &_set {
      background: url('/static/images/svg/notification_set_24px.svg') center/24px no-repeat, url('/static/images/svg/notification_set_24px_primary.svg') center/24px no-repeat;

      &:hover {
        background: url('/static/images/svg/notification_set_24px_primary.svg') center/24px no-repeat;
      }
    }
  }
}

@media (min-width: map_get($breakpoints, 'tablet')) {
  .general-information-item {
    &__label {
      padding: 15px 30px;
      font-size: $p-font-size;
    }

    &__notification {
      margin-right: -15px;
    }

    &__text {
      padding: 30px;
      font-size: $h3-font-size;
    }
  }
}