.materials-item {
  display: flex;
  flex-direction: column;
  align-items: center;

  &__icon {
    width: 80px;
    height: 80px;
    border-radius: 50%;
    border: 1px solid $border-grey-color;
    background: $white url('../images/svg/materials_60px_primary.svg') no-repeat center center;
    background-size: 36px;
    transition: .2s ease-out;
    cursor: pointer;

    &:hover {
      text-decoration: none;
      transform: scale(1.02);
      box-shadow: 0 0 12px transparentize($primary-color, 0.9);
    }

    &_link {
      background: $white url('../images/svg/link_60px_primary.svg') no-repeat center center;
    }
  }

  &__name {
    margin-top: 10px;
    text-align: center;
    font-size:$small-font-size;
    color: $light-grey-color;
  }
}

@media (min-width: map_get($breakpoints, 'tablet')) {
  .materials-item {
    &__icon {
      width: 115px;
      height: 115px;
      background-size: 60px;
    }

    &__name {
      font-size:$p-font-size;
      margin-top: 20px;
    }
  }
}