.past-salons-item {
  display: block;
  background: $white;
  border-radius: 10px;
  border: 1px solid $border-grey-color;
  transition: .2s ease-out;

  &__description {
    overflow: hidden;
  }

  &:hover {
    text-decoration: none;
    transform: scale(1.01);
    box-shadow: 0 0 12px transparentize($primary-color, 0.9);
  }

  &__header {
    padding: 30px;
  }

  &__heading {
    font-size: $h3-font-size;
    font-weight: 500;
    margin-bottom: 5px;
    line-height: 125%;
  }

  &__footer {
    display: flex;
    background: $primary-light-color;
    border-top: 1px solid $border-grey-color;
    padding: 15px 30px;
    border-radius: 0 0 10px 10px;
  }

  &__statistics {
    margin-right: 30px;
    color: $dark-grey-color;

    &:before {
      content: '';
      display: inline-block;
      width: 16px;
      height: 16px;
      margin-bottom: -2px;
      margin-right: 10px;
      border-radius: 8px;
    }

    &_acceptances:before {
      background: url('../images/svg/acceptances_16px.svg') center center no-repeat;
    }

    &_awards:before {
      background: url('../images/svg/awards_16px.svg') center center no-repeat;
    }

    &_photos:before {
      background: url('../images/svg/photos_16px.svg') center center no-repeat;
    }

    &:last-child {
      margin-right: 0;
    }
  }
}

@media (min-width: map_get($breakpoints, 'tablet')) {
  .past-salons-item {
    &__heading {
      font-size: $h2-font-size;
      margin-bottom: 10px;
    }
  }
}