.statistics-country-item {
  width: 100%;
  border: 1px solid $border-grey-color;
  padding: 20px;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 8px;

  &__footer {
    display: flex;
    justify-content: space-between;
  }

  &__name {
    margin-bottom: 15px;
    line-height:1;
  }

  &__salons, &__more {
    line-height: 1;
  }
}

@media (min-width: map_get($breakpoints, 'tablet')) {
  .statistics-country-item {
    padding: 30px;
  }
}