.statistics-item {
  position: relative;
  padding: 15px;
  border-radius: 10px;

  background: $white;
  color: $dark-grey-color;
  border: 1px solid $border-grey-color;

  &__number {
    color: $black;
    font-size: $h1-font-size;
    font-weight: 500;
    margin-bottom: 5px;
  }

  &__label {
    font-size: $small-font-size;
    opacity: .8;
  }

  &__see-all {
    position: absolute;
    right: -15px;
    top: 18px;

    display: block;
    width: 60px;
    height: 36px;

    line-height:36px;
    font-size: $small-font-size;

    color: $primary-color;
    background: $white;
    text-align: center;
    border: 1px solid $border-grey-color;
    border-radius: 4px;
    transition: .2s ease-out;

    &:hover {
      text-decoration: none;
      border: 1px solid $primary-color;
    }
  }

  &_primary {
    color: $white;
    opacity: .8;
    background: $primary-gradient;
    border: 1px solid $border-primary-color;
  }

  &_primary &__see-all {
    background: $primary-gradient;
    color: $white;
    border: 1px solid $border-primary-color;

    &:hover {
      border: 1px solid $white;
    }
  }

  &_primary &__number {
    color: $white;
  }
}

@media (min-width: map_get($breakpoints, 'tablet')) {
  .statistics-item {
    padding: 30px;

    &__number {
      font-size: $big-font-size;
      margin-bottom: 10px;
    }

    &__label {
      font-size: $p-font-size;
    }
  }
}