.statistics-gallery-item {
  &__acceptances {
    margin-top: 10px;
    color: $light-grey-color;
  }
}

@media (min-width: map_get($breakpoints, 'desktop')) {
  .statistics-gallery-item .gallery-item {
    height:calc(((100vw - 900px)/3)*3/4);

    &__upload {
      top: 15px;
      right: 15px;
    }
  }
}