.upload-files-item {
  width: 100%;

  &__label {
    width: 100%;
    height: 100%;
    position: relative;
    display: flex;
    justify-content: flex-end;
    padding: 30px;
    background: $white;
    border-radius: 10px;
    border: 1px solid $border-grey-color;
    cursor: pointer;

    transition: .2s ease-out;

    &:hover {
      text-decoration: none;
      transform: scale(1.02);
      box-shadow: 0 0 12px transparentize($primary-color, 0.9);
    }

    &:before {
      content: '';
      position: absolute;
      left: 15px;
      top: 50%;
      margin-top: -30px;
      height: 60px;
      width: 60px;
      border-radius: 50%;
      background: url('../images/svg/materials_60px_primary.svg') center/30px no-repeat, $primary-light-gradient center/cover no-repeat;
    }
  }

  &__name {
    color: $dark-grey-color;
    width: 100%;

    span {
      white-space: nowrap;
      overflow: hidden;
      display: block;
      padding-left: 60px;
      text-overflow: ellipsis;
      width: 100%;
      text-align: right;
    }
  }

  &__input {
    width: 0.1px;
    height: 0.1px;
    opacity: 0;
    overflow: hidden;
    position: absolute;
    z-index: -1;
  }

  &__input:focus + &__label {
    outline: 1px dotted $primary-color;
    outline: -webkit-focus-ring-color auto 5px;
  }
}