.footer {
  padding: 80px 30px 30px;
  background-image: linear-gradient(173deg, transparent 0, transparent 60px, $white 60px);

  &__to-top {
    display: flex;
    justify-content: flex-end;
    margin-bottom: 20px;

    a:after {
      content:'';
      display: inline-block;
      width: 10px;
      height: 15px;
      margin-left: 10px;
      background: url('../images/svg/arrow-up.svg') center center no-repeat;
      margin-bottom: -2px;
    }
  }

  &__message {
    margin-bottom: 30px;
  }

  &__heading {
    font-size: $h2-font-size;
    font-weight: 500;
    color: $black;
    line-height: 125%;
    margin-bottom: 20px;
  }

  &__email {
    margin-top: 20px;
  }

  &__menu {
    li {
      margin-bottom: 20px;

      a {
        color: $dark-grey-color;

        &:hover {
          color: $primary-color;
          text-decoration: none;
        }
      }

      &:last-child {
        margin-bottom: 0;
      }
    }
    hr {
      margin-bottom: 20px;
      max-width: 50px;
    }
  }
}

@media (min-width: map_get($breakpoints, 'tablet')) {
  .footer {
    padding:120px 60px 60px;
    background-image: linear-gradient(173deg, transparent 0, transparent 120px, $white 120px);

    &__to-top {
      margin-bottom: 30px;
    }

    &__heading {
      margin-bottom: 30px;
    }

    &__message {
      margin-bottom: 50px;
    }

    &__email {
      margin-top: 30px;
    }
  }
}

@media (min-width: map_get($breakpoints, 'desktop')) {
  .footer {
    display: flex;
    flex-direction: row-reverse;

    padding:180px 60px 60px;
    background-image: linear-gradient(173deg, transparent 0, transparent 180px, $white 120px);


    &__bottom {
      width: 33.33333%;
      padding-top: 60px;
    }
  }
}