.header {
  display: flex;
  align-items: center;
  justify-content: space-between;

  width: 100%;
  height: 60px;
  padding: 0 30px;

  border-bottom: 1px solid $border-grey-color;
  background: $white;

  &__settings {
    display: none;
  }

  &__logout {
    display: none;
  }
}

@media (min-width: map-get($breakpoints, 'tablet')) {
  .header {
    height: 80px;
    padding: 0 60px;

    &__left {
      display: flex;
      align-items: center;
      height: 100%;
    }
  }
}

@media (min-width: map-get($breakpoints, 'desktop')) {
  .header {
    &__hamburger {
      display: none;
    }

    &__right {
      display: flex;
    }

    &__logout {
      display: flex;
      align-items: center;
      color: $light-grey-color;
      height: 80px;
      padding-left: 30px;
      padding-right: 30px;
      margin-right: -60px;
      border-left: 1px solid $border-grey-color;
    }

    &__settings {
      display: flex;
      align-items: center;
      color: $light-grey-color;
      padding: 0 30px;

      &:after {
        content: '';
        display: inline-block;
        width: 24px;
        height: 24px;
        margin-left: 10px;
        background: url('../images/svg/settings_24px.svg'), url('../images/svg/settings_24px_primary.svg') center center no-repeat;
      }

      &_active, &:hover {
        color: $primary-color;
        text-decoration: none;

        &:after {
          background-image: url('../images/svg/settings_24px_primary.svg');
        }
      }

      &_active {
        position: relative;
        display: flex;
        align-items: center;
        height: 80px;
        background: $primary-light-color;

        &:before{
          content: '';
          display: block;
          position: absolute;
          width: 100%;
          height: 3px;
          bottom: -1px;
          left: 0;
          background: $primary-color;
        }
      }
    }
  }
}