.sidemenu {
  width: 100%;
  height: 100%;
  overflow: auto;
  transition: .4s ease-out;
  background: $white;

  &__item {
    a {
      padding: 25px 30px;
      display: flex;
      align-items: center;
      width: 100%;
      height: 100%;
      color: $light-grey-color;

      &:before {
        content: '';
        display: inline-block;
        width: 24px;
        height: 24px;
        margin-right: 15px;
        background: transparent no-repeat center center;
        background-size: 24px;
      }

      &:hover {
        color: $primary-color;
      }
    }

    &_active {
      position: relative;

      a {
        background: $primary-light-color;
        color: $primary-color;
      }

      &:after {
        content: '';
        position: absolute;
        top: 0;
        right: 0;
        width: 3px;
        height: 100%;
        background: $primary-color;
      }
    }

    &_logout {
      a {
        border-top:1px solid $border-grey-color;
        justify-content: center;
        &:before {
          display: none;
        }
      }
    }

    $menu-items: ('profile', 'statistics', 'future-salons', 'past-salons', 'gallery', 'my-acceptances', 'settings', 'users', 'discounts');

    @each $item in $menu-items {
      &_#{$item} {
        a:before {
          background-image: url('../images/svg/#{$item}_24px.svg'), url('../images/svg/#{$item}_24px_primary.svg');
        }
      }

      &_active.sidemenu__item_#{$item} {
        a:before {
          background-image: url('../images/svg/#{$item}_24px_primary.svg');
        }
      }

      &_#{$item}:hover {
        a:before {
          background-image: url('../images/svg/#{$item}_24px_primary.svg');
        }
      }
    }
  }
}

@media (min-width: map_get($breakpoints, 'tablet')) {
  .sidemenu {
    &__item {
      a {
        padding: 25px 60px;
      }
    }
  }
}

@media (min-width: map_get($breakpoints, 'desktop')) {
  .sidemenu {
    overflow: auto;
    border-right: 1px solid $border-grey-color;

    &__item {
      &_settings, &_logout {
        display: none;
      }

      a {
        &:hover {
          color: $primary-color;
          text-decoration: none;
        }
      }
    }

    &__user {
      display: none;
    }
  }
}