.sidemenu-secondary {
  display: flex;
  background: $primary-light-color;
  padding: 0 15px;
  border-bottom: 1px solid $border-grey-color;

  &__item {
    span {
      display: none;
    }

    a {
      display: block;
      padding: 15px;
      height: 100%;
      width: 100%;

      &:before {
        content: '';
        display: block;
        height: 24px;
        width: 24px;
        background-position: center center;
        background-repeat: no-repeat;
      }
    }

    &_active {
      position: relative;
      background: $white;
      border-right: 1px solid $border-grey-color;
      border-left: 1px solid $border-grey-color;

      &:after {
        content: '';
        position: absolute;
        bottom: -1px;
        left: 0;
        width: 100%;
        height: 1px;
        background: $white;
      }
    }

    $menu-items: ('details', 'account', 'payment', 'awards', 'salons', 'countries', 'money', 'photos', 'cloud');

    @each $item in $menu-items {
      &_#{$item} {
        a:before {
          background-image: url('../images/svg/#{$item}_24px.svg'), url('../images/svg/#{$item}_24px_primary.svg');
        }
      }

      &_active.sidemenu-secondary__item_#{$item} {
        a:before {
          background-image: url('../images/svg/#{$item}_24px_primary.svg');
        }
      }

      &_#{$item}:hover {
        a:before {
          background-image: url('../images/svg/#{$item}_24px_primary.svg');
        }
      }
    }
  }
}

@media (min-width: map_get($breakpoints, 'tablet')) {
  .sidemenu-secondary {
    padding: 0 45px;
  }
}

@media (min-width: map_get($breakpoints, 'desktop')) {
  .sidemenu-secondary {
    padding: 0;
    flex-direction: column;
    height: 100%;

    border-bottom: 0;
    border-right: 1px solid $border-grey-color;


    &__item {
      span {
        display: block;
        color: $light-grey-color;
      }

      a {
        display: flex;
        align-items: center;
        padding: 30px;

        &:before {
          margin-right: 15px;
        }

        &:hover {
          text-decoration: none;

          span {
            color: $primary-color;
          }
        }
      }

      &_active {
        span {
          color: $primary-color;
        }

        border-right: 0;
        border-left: 0;
        border-bottom: 1px solid $border-grey-color;
        border-top: 1px solid $border-grey-color;

        &:first-child {
          border-top: 0;
        }

        &:after {
          left: auto;
          bottom:auto;
          top: 0;
          right: -1px;
          width: 1px;
          height: 100%;
        }
      }
    }
  }
}
