.image-section
    .image-section__img
        if (photo.image && !is_array(photo.image))
            img(src=photo.image)
        else
            .image-section__empty-img
    .image-section__toolbar
        if(download === true)
            +toolbar([
                ['Change title', '#photo-title-modal', 'edit', item.id],
                ['Change image', '#photo-change-modal', 'upload', item.id],
                ['Download', route('download.image',item.id), 'download'],
                ['Delete', '#photo-delete-modal', 'delete', item.id]
            ])
        else
            +toolbar([
                ['Change title', '#photo-title-modal', 'edit', item.id],
                ['Change image', '#photo-change-modal', 'upload', item.id],
                ['Delete', '#photo-delete-modal', 'delete', item.id]
            ])