.button {
  display: block;
  width: 100%;
  height: 48px;
  padding:0 20px;

  border: 0;
  border-radius: 4px;

  background-color: transparent;
  font-size: $p-font-size;

  cursor: pointer;

  &_primary {
    background-color: $primary-color;
    color: $white;
    box-shadow: 0 4px 24px transparentize($primary-color, 0.9);
    transition: .2s ease-out;

    &:hover {
      box-shadow: 0 4px 36px transparentize($primary-color, 0.7);
    }
  }

  &_secondary {
    border: 1px solid $primary-color;
    background-color: transparent;
    box-shadow: none;
    color: $black;
    transition: .2s ease-out;

    &:hover {
      color: $primary-color;
      box-shadow: none;
    }
  }

  &_tertiary {
    color: $primary-color;
    width: auto;
    padding: 0;
    transition: .2s ease-out;
    height: 24px;
    margin: auto 0;

    &:hover {
      text-decoration: underline;
    }
  }

  &_social {
    text-align: left;
    background: no-repeat calc(100% - 20px) center;
  }

  &_google {
    background-image: url('../images/svg/google-logo.svg');
    background-size: 18px;
  }

  &_facebook {
    background-image: url('../images/svg/facebook-logo.svg');
    background-size: 10px;
  }

  &:focus {
    outline: 1px dotted $primary-color;
    outline: -webkit-focus-ring-color auto 5px;
  }
}