.user-profile-section
    .content-block
        a.user-profile-section__item(href="#edit-payment-period-modal", rel="modal:open", data-id=user.id)
            p.user-profile-section__value #{date_format(user['paid_until'], 'Y-m-d')}
            p.user-profile-section__label Payment period
    .content-block
        a.user-profile-section__item(href=route('enter.profile',user.id))
            p.user-profile-section__value Enter the user's profile
        a.user-profile-section__item.user-profile-section__item_delete(href="#delete-user-modal", data-id=user.id, rel="modal:open")
            p.user-profile-section__value Delete the user
