@mixin size($a,$b: $a) {
  width: $a;
  height: $b;
}

@mixin placeholder {
  &::-webkit-input-placeholder {@content}
  &:-moz-placeholder           {@content}
  &::-moz-placeholder          {@content}
  &:-ms-input-placeholder      {@content}
}

@mixin white-box {
  background: #fff;
  border: 1px solid $border-grey-color;
  border-radius: 10px;
}

@mixin circle($size, $background: 'transparent') {
  height:$size;
  width:$size;
  border-radius: 50%;
  background: $background;
}