// Colors
$white: #ffffff;
$black: #00041A;
$dark-grey-color: #3A3C48;
$light-grey-color: #8A9998;
$border-grey-color: #E5E4F0;
$background-grey-color: #f2f2f2;
$primary-color: #495DD6;
$border-primary-color: #2739A3;
$secondary-color: #25D1D1;
$primary-light-color: #F7F8FA;
$error-color: #F32D2D;
$error-light-background: #FBF7F7;
$primary-gradient: linear-gradient(to right bottom, $primary-color, #9849D6);
$primary-light-gradient: linear-gradient(to right bottom, #F2F5FC, #FCF2FF);
$secondary-gradient: linear-gradient(to right bottom, #62F256, #61E4DC);
$tertiary-gradient: linear-gradient(to right bottom, #F25656, #CA61E4);

// Sizes
$big-font-size: 60px;
$h1-font-size: 36px;
$h2-font-size: 24px;
$h3-font-size: 20px;
$p-font-size: 16px;
$small-font-size: 12px;

$breakpoints: (
  "tablet": 768px,
  "desktop" : 1180px,
  "desktop-wide": 1600px
);

// Fonts
$main-font: 'Roboto', sens-serif;