.add-salon {
  @extend .auth;

  display: flex;
  flex-direction: column;
  justify-content: center;
  min-height: 100vh;

  &__header {
    @extend .auth__header;
  }

  &__content {
    margin: 0 30px;

    .content-block {
      border-radius: 10px;
      border: 1px solid $border-grey-color;
    }
  }

  &__buttons {
    @extend .auth__buttons;
  }

  &__skip-button {
    @extend .auth__skip-button;
  }

  &__back-button {
    @extend .auth__back-button;
  }

  &__heading + &__buttons {
    margin-top: 20px;
  }
}

@media (min-width: map_get($breakpoints, 'tablet')) {
  .add-salon {
    &__skip-button {
      margin-left: 15px;
    }

    &__back-button {
      margin-right: 15px;
    }

    &__content {
      margin: 0;
    }
  }
}

@media (min-width: map_get($breakpoints, 'desktop')) {
  .add-salon {
    &__buttons {
      justify-content: center;
    }

    &_wide {
      @extend .auth_wide;
    }
  }
}