.auth {
  padding-bottom: 50px;

  &__header {
    padding: 30px;
  }

  &__buttons {
    display: flex;
  }

  &__skip-button {
    margin-left: 10px;
  }

  &__back-button {
    margin-right: 10px;
  }

  &__heading + &__buttons {
    margin-top: 20px;
  }
}

@media (min-width: map-get($breakpoints, 'tablet')) {
  .auth {
    padding: 0 60px 50px;

    &__header {
      padding: 50px 0;
    }

    &__skip-button {
      margin-left: 15px;
    }

    &__back-button {
      margin-right: 15px;
    }

    &__content {
      margin: 0;
    }
  }
}

@media (min-width: map_get($breakpoints, 'desktop')) {
  .auth {
    padding: 0 0 50px;
    max-width: 645px;
    margin: 0 auto;

    &__buttons {
      justify-content: center;
    }

    &_wide {
      max-width: none;
      margin: 0 60px;
    }

    &__header {
      text-align: center;
      max-width: 900px;
      margin: 0 auto;
    }
  }
}