.main {
  position: relative;
  overflow: hidden;

  &__content {
    padding: 30px 0 0;
  }

  &__back {
    margin-bottom: 20px;
  }

  &__sidemenu {
    overflow: auto;
    position: fixed;
    z-index: 2;
    top: 60px;
    height:calc(100vh - 60px);
    width: 100%;
    transform: translateX(-100%);
    transition: .4s ease-out;

    &_shown {
      transform: none;
    }
  }

  &__search {
    margin-top: 30px;
    width: 100%;
  }

  &__categories {
    margin-top: 30px;
  }

  &__content-header {
    padding:0 30px;
    margin-bottom: 30px;
  }

  &__add, &__edit {
    flex-shrink: 0;
    width: 90px;
    margin-top: 20px;

    a {
      width: 120px;
    }
  }

  &__pagination {
    padding: 30px 30px 15px 30px;
  }

  &__content-wrapper {
    margin-top: 60px;
    width: 100%;
  }

  &__header {
    position: fixed;
    z-index: 2;
    width: 100%;
    top: 0;
    left: 0;
  }

  &__description {
    margin-top: 10px;
    color: $light-grey-color;
    max-width: 480px;
  }

  &__filter {
    margin-top: 10px;
  }
}

@media (min-width: map_get($breakpoints, 'tablet')) {
  .main {
    &__additional-bar {
      display: flex;
      justify-content: space-between;
    }

    &__categories + &__search {
      max-width: 300px;
    }

    &__bar {
      display: flex;
      justify-content: space-between;
    }

    &__sidemenu {
      top: 80px;
      height:calc(100vh - 80px);
    }

    &__add, &__edit {
      margin-top: -7px;
      width: 200px;

      a {
        width: 200px;
      }
    }

    &__content-header {
      padding: 0 60px;
    }

    &__content-wrapper {
      margin-top: 80px;
    }

    &__content {
      padding: 60px 0 0;
    }

    &__pagination {
      padding: 60px 60px 45px 60px;
    }

    &__filter {
      margin-top: 20px;
    }
  }
}


@media (min-width: map_get($breakpoints, 'desktop')) {
  .main {
    display: flex;

    &__sidemenu {
      position: fixed;
      top: 80px;
      flex-shrink: 0;
      width: 300px;
      height: calc(100vh - 80px);
      transition: .4s ease-out;
      transform: none;
    }

    &__content-wrapper {
      padding-left: 300px;
      margin-top: 80px;
    }

    &__header {
      position: fixed;
      width: 100%;
    }
  }
}