.modal {
  width: 100%;
  max-width: 600px;
  padding: 30px;
  border-radius: 10px;
  box-shadow: 0 0 20px transparentize($black, 0.9);

  &__content {
    margin-bottom: 20px;

    h3 {
      margin-top: 10px;
      margin-bottom: 10px;

      &:first-child {
        margin-top: 0;
      }
    }
    p {
      margin-bottom: 10px;

      &:last-child {
        margin-bottom: 0;
      }
    }
  }

  &__heading {
    margin-bottom: 15px;
  }

  &__description {
    margin-bottom: 15px;
  }

  &__email-highlighted {
    color: $black;
    font-weight: 500;
  }

  &__error-highlighted {
    color: $error-color;
  }

  &__success, &__error, &__waiting {
    display: none;
    padding-top: 30px;

    p {
      margin-bottom: 10px;

      &:last-child {
        margin-bottom: 0;
      }
    }
  }

  &__output_success &__success, &__output_error &__error, &__output_waiting &__waiting {
    display: block;
  }
}

.blocker {
  background: transparentize($black, 0.6);
}

@media (min-width: map_get($breakpoints, 'tablet')) {
  .modal {
    padding: 45px;

    &__description {
      margin-bottom: 20px;
    }

    &__content {
      margin-bottom: 30px;
    }
  }
}