.profile-section {
  &__header {
    display: flex;
    justify-content: space-between;
  }

  &__heading {
    font-size: $p-font-size;
    font-weight: 500;
  }

  &__content {
    margin: 20px 0;
  }

  &__filter {
    padding: 4px 0 0 0;
  }

  &__footer {
    display: flex;
    justify-content: flex-end;
  }

  &__link:after {
    content: '';
    display: inline-block;
    width: 15px;
    height: 10px;
    margin-left: 10px;
    background: url('../images/svg/arrow-right_primary.svg') center center no-repeat;
  }
}

@media (min-width: map_get($breakpoints, 'tablet')) {
  .profile-section {
    &__header {
      justify-content: flex-start;
    }
    &__filter {
      padding: 6px 0 0 0;
    }
    &__content {
      margin:30px 0;
    }
    &__heading {
      font-size: $h3-font-size;
      font-weight: 500;
      margin-right: 30px;
    }
  }
}