@import "utils/libs";
@import "utils/vars";
@import "utils/mixins";
@import "utils/fonts";

html {
  font-size: $p-font-size;
  font-family: $main-font;
  height: auto;
}

body {
  height: auto;
  min-height: 100vh;
  background: $primary-light-gradient no-repeat center center;
  background-size: cover;
  margin: 0;
  color: $black;
}

h1, h2, h3, h4, h5, h6 { margin: 0; }

ul, li {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

a { text-decoration: none; }

p { margin: 0; }

audio,
canvas,
iframe,
img,
svg,
video,
textarea { vertical-align: middle; }

textarea { resize: none; }

section { position: relative; }

input,
select,
button { outline: none; }

*, *:before, *:after { box-sizing: border-box; }

hr {
  height: 1px;
  background: $border-grey-color;
  width: 100%;
  border: 0;
  margin: 0;
}

a {
  color: $primary-color;
  text-decoration: none;
  cursor: pointer;
}

a:hover {
  text-decoration: none;
}

b {
  font-weight: 700;
  color: $black;
}

// margins
.mgb-1 {
  margin-bottom: 20px;
}

@media (min-width: map_get($breakpoints, 'tablet')) {
  .mgb-1 {
    margin-bottom: 30px;
  }
}

// additional classes
.horizontal-center {
  display: flex;
  justify-content: center;
}

.vertical-center {
  display: flex;
  align-items: center;
}

.content {
  padding: 0 30px;

  &_full-width-on-mobile {
    padding: 0;
  }

  &_padding-bottom {
    padding-bottom: 30px;
  }
}

@media (min-width: map_get($breakpoints, 'tablet')) {
  .content {
    padding: 0 60px;

    &_padding-bottom {
      padding-bottom: 60px;
    }
  }
}

.emphasized {
  padding-left: 15px;
  border-left: 2px solid $primary-color;
  margin: 15px 0;
  font-size: 20px;
}

// fixes
.preload * {
  -webkit-transition: none !important;
  -moz-transition: none !important;
  -ms-transition: none !important;
  -o-transition: none !important;
}

.blocker {
  z-index: 2;
}

// Full Calendar rewrite
.fc-event, .fc-event-dot {
  background: $primary-color;
  border: 0;
}

.fc-content {
  padding:5px 10px;
}

// FooTable Rewrite
th.footable-sortable > span.fooicon {
  right: 20px;
  margin-top: -8px;
}

tfoot .footable-editing td {
  padding: 0;
}

table.footable-editing.footable-editing-always-show button.footable-add {
  width: 100%;
  display: flex;
  align-items: center;
  background: 0;
  text-align: left;
  color: $primary-color;
  border: 0;
  padding: 15px 30px;
  font-weight: 500;

  &:hover {
    background: $primary-light-color;
    color: $primary-color;
  }

  &:active {
    background: darken($primary-light-color, 0.2);
    color: $primary-color;
  }

  &:before {
    content: '';
    display: block;
    width: 24px;
    height: 24px;
    background: url('../images/svg/add_24px_primary.svg') center center no-repeat;
    margin-right: 10px;
  }
}

.footable .footable-last-visible {
  display: none !important;
}

span.footable-toggle {
  margin-left: -20px;
}

.footable-detail-row > td {
  padding: 0 !important;
}

.footable-detail-row tr {
  border-bottom: 0 !important;
}

.footable-details tr {
  cursor: auto !important;
  background: $primary-light-color;
}

  // Typography
h1, .h1 {
  color: $black;
  font-size: $h2-font-size;
  font-weight: 500;
  line-height: 140%;
}

h2, .h2 {
  color: $black;
  font-size: $h3-font-size;
  font-weight: 500;
  line-height: 150%;
}

h3, .h3 {
  color: $black;
  font-size: $h3-font-size;
  font-weight: 500;
  line-height: 150%;
}

p {
  color: $dark-grey-color;
  font-size: $p-font-size;
  font-weight: 400;
  line-height: 150%;

  &:last-child {
    margin-bottom: 0;
  }

  &:first-child {
    margin-top: 0;
  }
}

small {
  display: block;
  color: $dark-grey-color;
  font-size: $small-font-size;
  font-weight: 400;
  line-height: 150%;

  &:not(:last-child) {
    margin-bottom: 10px;
  }
}

@media (min-width: map-get($breakpoints, 'tablet')) {
  h1, .h1 {
    font-size: $h1-font-size;
  }

  h2, .h2 {
    font-size: $h2-font-size;
  }

  .skew-background {
    background: linear-gradient(-5deg, $white 0, $white 500px, $background-grey-color 500px) bottom center;
    height: auto;
    min-height: 100%;
  }

  .skew-background body {
    background-image: url('../images/general/man_illustration.png'), url('../images/general/woman_illustration.png');
    background-position: calc(50% - 550px) 200px, calc(50% + 550px) 200px;
    background-repeat:no-repeat;
    background-size: auto;
  }
}

// Modules
@import "modules/modules";
