extends ../../template/modal.pug.blade

block modalVariables
    - var modalIdentifier = 'acceptance-modal';



block modalContent
    h2.modal__heading Add an acceptance
    p.modal__description Fill the details about the acceptance. Salon name, image title and at least one patronage are required.
    form.form#acceptance-form(method='post' action=route('add.accept'))
        each item in names
            if (item == 'ID')
                +input('acceptance-id', 'hidden')
            else if (item == 'Salon_id')
                +input('acceptance-salon-id', 'hidden')
            else if (item == 'Salon name')
                +input('acceptance-salon-name', 'tags', 'Salon name', true, -1, salons)
            else if (item == 'Patronages')
                +input('acceptance-patronages', 'text', 'Patronages', true)
            else if (item == 'Country')
                +input('acceptance-country', 'select', 'Country', false, false, countries)
            else if (item == 'Image title')
                +input('acceptance-image-title', 'text', 'Image title', true)
            else if (item == 'Award')
                +input('acceptance-award', 'text', 'Award')
            else
                - var formattedItem = "acceptance-custom-" + trim(item.split(' ').join('-').toLowerCase());
                +input(formattedItem, 'text', item)
        +input('acceptance-submit', 'submit', 'Add')
