extends ../../template/modal.pug.blade

block modalVariables
    - var modalIdentifier = 'add-patronages-modal'

block modalContent
    h2.modal__heading Add patronages
    p.modal__description The patronages of your salon. At least, one patronage is required.
    form.form#add-patronages-form(method='post' action='#')
        | @csrf
        input(type='hidden', name='deletable')
        +form-patronages()
        +input('add-patronages-submit', 'submit', 'Save')