extends ../../template/modal.pug.blade

block modalVariables
    - var modalIdentifier = 'add-column-modal'

block modalContent
    h2.modal__heading Add a column
    p.modal__description Create as many custom columns as you wish. Type a name of your new column here.
    form.form#add-column-form(method='post' action=route('addColumn'))
        | @csrf
        +input('add-column-name', 'text', 'Name', true)
        +input('add-column-submit', 'submit', 'Add')