extends ../../template/modal.pug.blade

block modalVariables
    - var modalIdentifier = 'cancel-subscription-modal'

block modalContent
    h2.modal__heading Cancel the subscription
    p.modal__description Do you want to cancel the subscription?
    form(method='GET' action=route('payment.cancel'))
        .two-columns.two-columns_mobile-reverse
            .two-columns__item.horizontal-center.vertical-center
                a(href="", rel="modal:close")
                    +button(3, 'No')
            .two-columns__item
                +input('cancel-subscription-submit', 'submit', 'Cancel the subscription')
