extends ../../template/modal.pug.blade

block modalVariables
    - var modalIdentifier = 'dates-modal'

block modalContent
    h2.modal__heading Dates
    p.modal__description Choose the dates when the salons were happening. Salons without time marks won't be displayed.
    form.form#dates-form
        +input('dates-after-date', 'date', 'Participated after', false, {
            'value': old('dates-after-date', request('dates-after-date')),
        })
        +input('dates-before-date', 'date', 'Participated before', false, {
            'value': old('dates-before-date', request('dates-before-date')),
        })
        +input('dates-submit', 'submit', 'Find')
        .horizontal-center
            +button(3, 'Clear')