extends ../../template/modal.pug.blade

block modalVariables
    - var modalIdentifier = 'delete-user-modal'

block modalContent
    h2.modal__heading Delete the user
    p.modal__description Are you sure you want to delete the user? It will remove every file and every peace of information about him.
    form(method='post' action=route('profile.user.delete',user.id))
        .two-columns.two-columns_mobile-reverse
            .two-columns__item.horizontal-center
                +button(3, 'Cancel')
            .two-columns__item
                +input('delete-user-submit', 'submit', 'Delete')
            @method('delete')
            @csrf
