extends ../../template/modal.pug.blade

block modalVariables
    - var modalIdentifier = 'delete-discount-modal'

block modalContent
    h2.modal__heading Delete the discount
    p.modal__description Are you sure you want to delete the discount? New users won't be able to use this discount code but old users will still use it.
    form(method='delete' action='#')
        .two-columns.two-columns_mobile-reverse
            .two-columns__item.horizontal-center.vertical-center
                +button(3, 'Cancel')
            .two-columns__item
                +input('delete-discount-id', 'hidden')
                +input('delete-discount-submit', 'submit', 'Delete')
