extends ../../template/modal.pug.blade

block modalVariables
    - var modalIdentifier = 'delete-salon-modal'
    if (category == 'Future Salons')
        - var deleteSalonLink = route('delete.future.salon',+item.id)
    else
        - var deleteSalonLink = route('delete.past.salon',+item.id)

block modalContent
    h2.modal__heading Delete the salon
    p.modal__description Are you sure you want to delete the salon? It will erase all the data associated with the salon as well.
    .two-columns.two-columns_mobile-reverse
            .two-columns__item.horizontal-center.vertical-center
                a(href="#", rel="modal:close")
                    +button(3, 'Cancel')
            .two-columns__item
                    a(href=deleteSalonLink)
                        +button(1, 'Delete')