extends ../../template/modal.pug.blade

block modalVariables
    - var modalIdentifier = 'delete-column-modal'

block modalContent
    h2.modal__heading Delete the column
    p.modal__description Are you sure you want to delete the column? It will erase all the data in the column as well.
    .two-columns.two-columns_mobile-reverse
        .two-columns__item.horizontal-center.vertical-center
            a(href="#", rel="modal:close")
                +button(3, 'Cancel')
        .two-columns__item
            form(method='POST' action=route('delete.column'))
                | @csrf
                | @method('DELETE')
                +input('delete-column-id', 'hidden')
                +input('delete-column-submit', 'submit', 'Delete')