extends ../../template/modal.pug.blade

block modalVariables
    - var modalIdentifier = 'dismiss-notification-modal'

block modalContent
    h2.modal__heading Dismiss the notification
    p.modal__description We're going to send the message to your email a day before <span class="js-date-span">the date</span>. Do you want to dismiss it?
    form(method='post' action=route('change-notification'))
        @csrf
        .two-columns.two-columns_mobile-reverse
            .two-columns__item.horizontal-center.vertical-center
                a(href="", rel="modal:close")
                    +button(3, 'No')
            .two-columns__item
                +input('dismiss-notification-id', 'hidden')
                +input('dismiss-notification-date-type', 'hidden')
                +input('dismiss-notification-submit', 'submit', 'Yes, dismiss it')
