extends ../../template/modal.pug.blade

block modalVariables
    - var modalIdentifier = 'edit-column-modal'

block modalContent
    h2.modal__heading Edit the column
    p.modal__description Choose a new name for your column.
    form.form#edit-column-form(method='post' action=route('update.column'))
        | @csrf
        +input('edit-column-id', 'hidden')
        +input('edit-column-name', 'text', 'Name', true)
        +input('edit-column-submit', 'submit', 'Edit')