extends ../../template/modal.pug.blade

block modalVariables
    - var modalIdentifier = 'edit-columns-modal'

block modalContent
    h2.modal__heading Edit columns
    p.modal__description Add, edit or delete your columns here
    .one-column.one-column_margin-10
        each column in newNames
            if ((column.name !== 'ID') && (column.name !== 'Salon_id'))
                - var isRequired;
                - const requiredColumns = ['Salon name', 'Patronages', 'Country', 'Image title', 'Award']
                - if (in_array(column.name, requiredColumns)) isRequired = true;
                .one-column__item
                    +edit-columns-item(column.name, column.id, isRequired)
        .one-column__item
            a(href="#add-column-modal", rel="modal:open")
                +button(2, 'Add')

