extends ../../template/modal.pug.blade

block modalVariables
    - var modalIdentifier = 'file-upload-modal'

block modalContent
    h2.modal__heading Upload an excel file
    p.modal__description Choose your personal .xslx file. We might try to export the data from the file. If your file looks something like <a href="/static/files/acceptances-test-list.xlsx" target="_blank">this</a>, our system will understand it.
    form.form#file-upload-form(method='post' action=route('upload') enctype="multipart/form-data")
        | @csrf
        .form__item
            +upload-files-item('Upload excel file')(accept='application/vnd.openxmlformats-officedocument.spreadsheetml.sheet, application/vnd.ms-excel')
        .form__item
            +input('file-upload-submit', 'submit', 'Save')