extends ../../template/modal.pug.blade

block modalVariables
    - var modalIdentifier = 'filter-future-salons-modal'

block modalContent
    h2.modal__heading Filter
    p.modal__description You can find your future salons by any of your acceptances column. Just type the value you’re looking for among the acceptances.
    form.form#filter-past-salons-form(method='GET')
        | @csrf
        +input('filter-salon-name', 'text', 'Salon name', false,{
            'value': old('filter-salon-name', request('filter-salon-name'))
        })
        +input('filter-country', 'text', 'Country', false,{
            'value': old('filter-country', request('filter-country'))
        })
        hr
        +input('filter-after-date', 'date', 'Salon will close after', false,{
            'value': old('filter-after-date', request('filter-after-date'))
        })
        +input('filter-before-date', 'date', 'Salon will close before', false,{
            'value': old('filter-before-date', request('filter-before-date'))
        })
        +input('filter-past-salons-submit', 'submit', 'Find')
        .horizontal-center
            +button(3, 'Clear')
