extends ../../template/modal.pug.blade

block modalVariables
    - var modalIdentifier = 'filter-past-salons-modal'

block modalContent
    h2.modal__heading Filter
    p.modal__description You can find your salons by any of your acceptances column. Just type the value you’re looking for among the acceptances.
    form.form#filter-past-salons-form(method='GET')
        | @csrf
        +input('filter-salon-name', 'text', 'Salon name', false,{
            'value': old('filter-salon-name', request('filter-salon-name'))
        })
        +input('filter-country', 'text', 'Country', false,{
            'value': old('filter-country', request('filter-country'))
        })
        +input('filter-image-title', 'text', 'Image title', false,{
            'value': old('filter-image-title', request('filter-image-title'))
        })
        +input('filter-award', 'text', 'Award', false,{
            'value': old('filter-award', request('filter-award'))
        })
        hr
        +input('filter-after-date', 'date', 'Participated after', false,{
            'value': old('filter-after-date', request('filter-after-date'))
        })
        +input('filter-before-date', 'date', 'Participated before', false,{
            'value': old('filter-before-date', request('filter-before-date'))
        })
        if old('filter-is-award', request('filter-is-award')) === 'on'
            +input('filter-is-award', 'checkbox', 'An acceptance has award', false,{
                'checked': "checked"
            })
        else
            +input('filter-is-award', 'checkbox', 'An acceptance has award')
        +input('filter-past-salons-submit', 'submit', 'Find')
        .horizontal-center
            +button(3, 'Clear')
