extends ../../template/modal.pug.blade

block modalVariables
    - var modalIdentifier = 'filter-gallery-modal'

block modalContent
    h2.modal__heading Filter
    p.modal__description You can find your gallery items by any of your acceptances column. Just type the value you’re looking for among the acceptances.
    form.form#filter-past-salons-form(method='GET')
        | @csrf
        +input('filter-salon-name', 'text', 'Salon name', false,{
            'value': old('filter-salon-name', request('filter-salon-name'))
        })
        +input('filter-country', 'text', 'Country', false,{
            'value': old('filter-country', request('filter-country'))
        })
        +input('filter-image-title', 'text', 'Image title', false,{
            'value': old('filter-image-title', request('filter-image-title'))
        })
        +input('filter-award', 'text', 'Award', false,{
            'value': old('filter-award', request('filter-award'))
        })
        +input('filter-past-salons-submit', 'submit', 'Find')
        .horizontal-center
            +button(3, 'Clear')
