extends ../../template/modal.pug.blade

block modalVariables
    - var modalIdentifier = 'filter-users-modal'

block modalContent
    h2.modal__heading User Filter
    p.modal__description Specify the user you want to find
    form(method='get' action=route('admin.users')).form#filter-users-form
        +input('first-name', 'text', 'First name', false,{
            'value': old('first-name', params['first-name'])
        })
        +input('last-name', 'text', 'Last name', false,{
            'value': old('first-name', params['last-name'])
        })
        +input('email', 'text', 'Email', false,{
            'value': old('first-name', params['email'])
        })
        +input('country', 'text', 'Country', false,{
            'value': old('first-name', params['country'])
        })
        +input('filter-users-submit', 'submit', 'Find')
        .horizontal-center
            +button(3, 'Clear')
