extends ../../template/modal.pug.blade

block modalVariables
    - var modalIdentifier = 'photo-delete-modal'

block modalContent
    .modal__content
        h2.modal__heading Delete the image title
        p Are you sure, you want to remove this image title?
        p <i>Note:</i> it will delete the image title with associated photo. It means we will remove the image title from everywhere, including your acceptances table. If you want to clear the photo, click 'Change image'.
    form.form(method='post' action=route('delete.photo'))
        | @csrf
        | @method('DELETE')
        .two-columns.two-columns_mobile-reverse
            .two-columns__item.horizontal-center.vertical-center
                a(href="", rel="modal:close")
                    +button(3, 'Cancel')
            .two-columns__item
                    +input('photo-delete-id', 'hidden')
                    +input('photo-delete-submit', 'submit', 'Delete')
