extends ../../template/modal.pug.blade

block modalVariables
    - var modalIdentifier = 'photo-title-modal'

block modalContent
    h2.modal__heading Change the title
    p.modal__description Choose a new title for your photo. We will change the title everywhere, including your acceptances table.
    form.form#photo-title-form(method='post' action=route('update.imageTitle'))
        | @csrf
        +input('photo-title-id', 'hidden')
        +input('photo-title-name', 'text', 'Name', true, {
            value: item.title
        })
        +input('photo-title-submit', 'submit', 'Save')