extends ../../template/modal.pug.blade

block modalVariables
    - var modalIdentifier = 'photo-change-modal'

block modalContent
    h2.modal__heading Change the photo
    p.modal__description You can upload a new photo or just clear the old one.
    form.form#photo-change-form(method='post' action=route('updateImage', photo.id) enctype='multipart/form-data')
        @csrf
        .form__item
            +upload-files-item('Change photo')  (accept='image/*')
        .two-columns.two-columns_mobile-reverse
            .two-columns__item
                +input('clear-photo-submit', 'submit', 'Clear', false, {
                    'class': 'button_secondary'
                })
            .two-columns__item
                +input('new-photo-submit', 'submit', 'Save')

