extends ../../template/modal.pug.blade

block modalVariables
    - var modalIdentifier = 'photo-upload-modal'

block modalContent
    h2.modal__heading Upload a photo
    p.modal__description This image title doesn't have an associated photo. You can upload your photo to our service.
    form.form#photo-upload-form
        .form__item
            +upload-files-item('Upload photo')(accept='image/*')
        .two-columns.two-columns_mobile-reverse
            .two-columns__item.horizontal-center.vertical-center
                a(href="", rel="modal:close")
                    +button(3, 'Cancel')
            .two-columns__item
                +input('photo-upload-id', 'hidden')
                +input('new-photo-submit', 'submit', 'Save')