extends ../../template/modal.pug.blade

block modalVariables
    - var modalIdentifier = 'send-notification-modal'

block modalContent
    h2.modal__heading Send a notification to your email
    p.modal__description We can send the notification to your email a day before <span class="js-date-span">the date</span>.
    form.form(method='post' action=route('change-notification'))
        @csrf
        .two-columns.two-columns_mobile-reverse
            .two-columns__item.horizontal-center.vertical-center
                a(href="", rel="modal:close")
                    +button(3, 'Cancel')
            .two-columns__item
                +input('send-notification-id', 'hidden')
                +input('send-notification-date-type', 'hidden')
                +input('send-notification-submit', 'submit', 'Add the notification')