extends ../../template/profile-section.pug.blade

block sectionVariables
    - var sectionName = 'Gallery'
    - var isFilter = false
    - var sectionLink = route('gallery')

    if (count(salon.photoStats) > 3)
        - var hideSeeMoreButton = false
    else
        - var hideSeeMoreButton = true

block content
    .three-columns
      each item in salon.photoStats
        .three-columns__item
            +gallery-item(item)
