extends ../../template/profile-section.pug.blade

block sectionVariables
    - var sectionName = 'General Information'
    - var isFilter = false
    - var hideSeeMoreButton = true
    - var author = salon.best_author_or_null ? 'Yes' : 'No'

block content
    .four-columns
       if(!is_array(salon.country) && salon.country !== null)
        .four-columns__item
          +general-information-item('Country', salon.country.name)
       if(!is_array(salon.closing_date) && salon.closing_date !== null)
        .four-columns__item
          +general-information-item('Finish date', salon.closing_date_formatted )
       if(!is_array(salon.entry_fee) && salon.entry_fee !== null)
        .four-columns__item
          +general-information-item('Entry fee', '$'+salon.entry_fee)
       if(!is_array(salon.comment) && salon.comment !== null)
        .four-columns__item
          +general-information-item('Comment', salon.comment)
       if(!is_array(salon.tracking_number) && salon.tracking_number !== null)
         .four-columns__item
           +general-information-item('Tracking number', salon.tracking_number)
       .four-columns__item
         +general-information-item('Best author', author)
       .four-columns__item
         +general-information-item('Awards were delivered', ucfirst(salon.award_were_delivered))

//-         .four-columns__item
//-             +general-information-item('Awards',  salonAward)

