extends ../../template/profile-section.pug.blade

block sectionVariables
    - var sectionName = 'Materials'
    - var isFilter = false
    - var hideSeeMoreButton = true

block content
    .materials-section
        if(!is_array(salon.catalogue_link) &&  salon.catalogue_link !== null)
            .materials-section__item
                +materials-item('Catalogue_link', salon.catalogue_link))
        if(checkAttachmentsSalon(salon.id,'REPORT_CARD'))
            .materials-section__item
                +materials-item('Report Card', route('downloadAttachment',['REPORT_CARD', salon.id]))
        if(checkAttachmentsSalon(salon.id,'ACCEPTANCE_LIST'))
            .materials-section__item
                +materials-item('Acceptances List', route('downloadAttachment',['ACCEPTANCE_LIST',salon.id]))
        if(checkAttachmentsSalon(salon.id,'AWARDS_LIST'))
            .materials-section__item
                +materials-item('Awards List', route('downloadAttachment',['AWARDS_LIST', salon.id]))
