.acceptances-table {
  overflow: visible;

  &__header {
    display: flex;
    flex-direction: column-reverse;
    padding: 15px 30px;
  }

  &__buttons {
    display: flex;
    flex-direction: column-reverse;
  }

  &__button {
    display: block;
    margin-bottom: 20px;
  }

  &__footer {
    padding:15px 30px;
    border-top: 1px solid $border-grey-color;
  }

  &__total-word {
    margin-right: 5px;
  }

  &__total-number {
    color: $primary-color;
  }

  // table, rows, cells

  &__table {
    position: relative;
    width: 100%;
    max-width: 100%;
    overflow: auto;

    table, th, td, tr {
      border: 0;
      border-collapse: collapse;
    }

    table {
      min-width: 100%;
    }

    .acceptances-table__tools-column {
      border-left: 1px solid $border-grey-color;
    }

    th.acceptances-table__tools-column {
      &:after {
        display: none;
      }
    }

    th, td {
      padding: 15px 30px;
    }

    thead {
      background: $primary-light-color;
      color: $black;
      font-weight: 500;

      th {
        min-width:150px;
        text-align: left;
      }
    }

    &__row {
      &_hidden {
        opacity: 0;
      }
    }

    tbody {
      tr {
        border-bottom: 1px solid $border-grey-color;
        opacity: 1;
        transition: .4s ease-out;
        cursor: pointer;
      }
      td {
        color: $dark-grey-color;
        text-align: left;
        min-width:150px;
        font-size: 14px;

        input {
          width: 100%;
          min-width:unset;
          background-color: transparent;
          border: 0;
          border-bottom: 1px solid $border-grey-color;
        }
      }
    }
  }

  &__heading-cell {
    display: flex;
    justify-content: space-between;

    span {
      margin-right: 10px;
    }
  }

  &__column-actions {
    display: flex;
    align-items: center;
  }

  &__delete-column {
    display: block;
    margin-left: 20px;
    height: 20px;
    width: 20px;
    background: url('../images/svg/delete_24px.svg') center/20px no-repeat;
  }

  // tools: edit and delete

  &__tools-column {
    background: $white;
    right: 0;
    width: 170px;
    min-width: 170px;
  }

  &__tools {
    display: flex;
    justify-content: center;
    width: 100%;
    height: 100%;
  }

  &__actions {
    display: flex;
  }

  &__edit, &__delete {
    &:hover {
      text-decoration: underline;
    }
  }

  &__edit {
    margin-right: 20px;
  }

  &__save {
    display: block;
    width: 24px;
    height: 24px;
    background: transparent center/24px no-repeat;
    cursor: pointer;
  }

  // pre-table
  &__pre-table {
    display: flex;
    width: 100%;
    border-top: 1px solid $border-grey-color;
    border-bottom: 1px solid $border-grey-color;
  }

  &__top-action {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 50%;
    padding:15px 30px;

    .button {
      height: 36px;
      font-size: 14px;
      font-weight: 500;

      &:hover {
        text-decoration: none;
      }
    }

    &:hover {
      background: $primary-light-color;
    }

    &:first-child {
      border-right: 1px solid $border-grey-color;
    }
  }

  &__add-acceptance, &__columns-edit {
    &:before {
      content: '';
      display: block;
      width: 24px;
      height: 24px;
      margin-right: 10px;
    }
  }

  &__add-acceptance {
    &:before {
      background: url('../images/svg/add_24px_primary.svg') center center no-repeat;
    }
  }

  &__columns-edit {
    &:before {
      background: url('../images/svg/edit_24px_primary.svg') center center no-repeat;
    }
  }


  // pagination
  &__pagination {
    .footable-pagination-wrapper {
      display: flex;
      flex-direction: row-reverse;
      justify-content: flex-end;
      align-items: center;
      flex-wrap:wrap;
      padding: 30px 30px 15px 30px;
      border-top: 1px solid $border-grey-color;

      .pagination {
        display: flex;
        justify-content: flex-start;
        margin-top: 0;
      }

      .divider {
        display: none;
      }

      .label {
        padding: 0;
        margin-right: 20px;
        margin-bottom: 15px;
        color: $light-grey-color;
      }

      .footable-page-nav, .footable-page {
        a {
          display: flex !important;
          justify-content:center;
          align-items: center;
          flex-wrap:wrap;
          width: 30px;
          height: 30px;
          border-radius: 4px;
          border: 1px solid $border-grey-color;
        }

        margin-right: 10px;
        margin-bottom: 15px;

        &:last-child {
          margin-right: 0;
        }
      }

      .footable-page-nav.disabled {
        a {
          color: $dark-grey-color;
          background: $background-grey-color;

          &:hover {
            cursor: auto;
          }
        }
      }

      .footable-page.active {
        a {
          color: $primary-color;
          background: $primary-light-color;
          border-color: $primary-color;

          &:hover {
            cursor: auto;
          }
        }
      }
    }
  }
}

@media (min-width: map_get($breakpoints, 'tablet')) {
  .acceptances-table {
    &__header {
      flex-direction: row;
      justify-content: space-between;
      align-items: center;
    }

    &__top-action .button {
      height: 24px;
    }

    &__buttons {
      flex-direction: row;
    }

    &__button {
      display: flex;
      align-items: center;
      margin-bottom: 0;
      margin-right: 15px;

      &:last-child {
        margin-right: 0;
      }
    }

    &__add-row {
      padding: 25px 30px;
    }

    &__table {
      th, td {
        padding: 25px 30px;
      }
    }
  }
}

@media (min-width: map_get($breakpoints, 'desktop')) {
  .acceptances-table {
  }
}