.back-button {
  display: flex;
  align-items: center;
  width: 65px;

  &:hover {
    text-decoration: none;

    p {
      text-decoration: underline;
    }
  }

  &:before {
    content: '';
    display: inline-block;
    height: 10px;
    width: 15px;
    margin-right: 10px;
    background: url('../images/svg/arrow-left.svg') no-repeat center center;
  }
}