#calendar {
  .fc-toolbar.fc-header-toolbar {
    display: flex;
    flex-direction: column;
  }

  .fc-center {
    margin: 20px 0;
  }
}

@media (min-width: map-get($breakpoints, 'tablet')) {
  #calendar {
    .fc-toolbar.fc-header-toolbar {
      display: flex;
      flex-direction: row;
    }

    .fc-center {
      margin: 0;
    }
  }
}