.categories {
  display: flex;
  align-items: center;

  &__item {
    display: block;
    margin-right: 15px;
    padding: 15px 30px;
    border-radius: 4px;
    border: 1px solid $border-grey-color;
    color: $dark-grey-color;

    &:last-child {
      margin-right: 0;
    }

    &_active {
      background: $white;
      color: $black;
    }
  }
}