.content-block {
  background: $white;
  border-bottom: 1px solid $border-grey-color;
  border-top: 1px solid $border-grey-color;
  margin-bottom: 30px;

  &:last-of-type {
    margin-bottom: 0;
  }

  &__section {
    padding: 30px;
  }

  &__heading {
    margin-bottom: 30px;
  }

  &__footer {
    p {
      margin-bottom: 15px;
    }

    a {
      display: block;
      max-width: 100px;

      &:hover {
        text-decoration: none;
      }
    }

    button {
      max-width: 100px;
    }
  }

  &__social-button {
    display: block;
    width: 100%;
    margin-bottom: 20px;

    &:last-child {
      margin-bottom: 0;
    }

    &:hover {
      text-decoration: none;
    }
  }

  &__description {
    margin-bottom: 10px;

    &:last-child {
      margin-bottom: 0;
    }
  }

  &__additional-info {
    font-size: 12px;
    margin-top: 15px;
  }
}

@media (min-width: map_get($breakpoints, 'tablet')) {
  .content-block {
    border-radius: 10px;
    border: 1px solid $border-grey-color;

    &__section {
      &_low {
        padding: 20px 30px;
      }
    }

    &__footer {
      display: flex;
      justify-content: space-between;
      align-items: center;

      p {
        margin-bottom: 0;
      }
    }

    &__social-enter {
      display: flex;
      justify-content: space-between;
    }

    &__social-button {
      margin-bottom: 0;
      width: calc(50% - 15px);
    }
  }
}