.discount {
  padding: 30px;

  &__name {
    margin-bottom: 10px;
    overflow: hidden;
    text-overflow: ellipsis;
  }

  &__info {
    margin-bottom: 20px;

    &:last-child {
      margin-bottom: 0;
    }
  }

  &__actions {
    display: flex;
  }

  &__edit {
    margin-right: 20px;
  }

  &__delete {
    color: $error-color;
  }

  &_deleted {
    background: $background-grey-color;
  }
}