.filter {
  display: flex;

  &__item {
    display: flex;
    flex-direction: column;
    align-items: flex-start;

    font-size: $small-font-size;
    margin-right: 30px;

    &:last-child {
      margin-right: 0;
    }
  }

  &__label {
    color: $light-grey-color;
    margin-right: 10px;
    margin-bottom: 5px;
  }

  &__name {
    color: $black;
    border-bottom: 1px dashed $black;
    cursor: pointer;

    &:hover {
      text-decoration: none;
    }
  }
}

@media (min-width: map_get($breakpoints, 'desktop')) {
  .filter {
    &__item {
      font-size:$p-font-size;
      flex-direction: row;
    }

    &__label {
      margin-bottom: 0;
    }
  }
}