.form {
  hr {
    margin-bottom: 20px;
  }

  // headings
  &__heading {
    margin-bottom: 10px;
  }

  // items
  &__item {
    margin-bottom: 20px;

    &:last-child {
      margin-bottom: 0;
    }

    &_hidden {
      display: none;
    }
  }

  // inputs
  &__input {
    position: relative;

    input[type="email"], input[type="url"], input[type="text"], input[type="password"], input[type="date"], input[type="number"], textarea {
      width: 100%;
      height: 48px;
      padding: 10px 20px;

      border-radius: 4px;
      border: 1px solid $border-grey-color;

      background: $background-grey-color;
      transition: .2s ease-out;

      font-size: $p-font-size;
      color: $dark-grey-color;

      @include placeholder {
        color: $light-grey-color;
      }
    }

    input:disabled {
      background: darken($background-grey-color, 8);
      color: transparentize($dark-grey-color, 0.4);
    }

    input[type="date"] {
      cursor: pointer;
    }

    input[type="email"]:focus, input[type="url"]:focus, input[type="text"]:focus, input[type="password"]:focus, input[type="number"]:focus, input[type="date"]:focus, textarea:focus {
      background: $primary-light-color;
    }

    input[type="checkbox"] {
      margin-top: 5px;
      flex-shrink: 0;
    }

    select {
      width: 100%;
    }

    textarea {
      height: 160px;
    }

    // rewrite select2 styles

    .select2-container--default .select2-selection--single {
      height: 48px;
      border: 1px solid $border-grey-color;
      background: $background-grey-color;
      border-radius: 4px;
    }

    .select2-container--disabled .select2-selection--single {
      background: darken($background-grey-color, 8);
    }

    .select2-container--default .select2-selection--single .select2-selection__rendered {
      padding-left: 20px;
      padding-right: 50px;
      line-height: 48px;
      color: $dark-grey-color;
    }

    .select2-container--disabled .select2-selection--single .select2-selection__rendered {
      color: transparentize($dark-grey-color, 0.4);
    }

    .select2-container--default .select2-selection--single .select2-selection__arrow {
      right: 20px;
      top: 12px;
    }

    &_password {
      input[type="password"], input[type="text"] {
        padding-right: 50px;
      }
    }

    &_checkbox {
      display: flex;
    }
  }

  // file

  &__file-label {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 80px;
    cursor: pointer;
    border: 2px dashed $primary-color;
    border-radius: 10px;
    color: $primary-color;
  }

  &__toggle-password {
    position: absolute;
    top: 56px;
    line-height: 1;
    right: 20px;

    color: $light-grey-color;
    transition: .2s ease-out;
    cursor: pointer;

    &:hover {
      color: $dark-grey-color;
    }
  }

  &__label, &__description {
    display: block;
    margin-bottom: 15px;
    line-height: 1.5;
    color: $light-grey-color;

    &_checkbox {
      margin: 0 0 0 10px;
      color: $dark-grey-color;
      width: 100%;
    }
  }

  &__forgot {
    display: block;
    margin-bottom: 20px;
    width: 100%;
    text-align: right;

    a {
      color: $dark-grey-color;
      text-decoration: none;

      &:hover {
        text-decoration: underline;
      }
    }
  }

  // Inputs radio type

  &__radio {
    &-item {
      margin-bottom: 20px;

      input {
        position: absolute;
        z-index: -1;
        opacity: 0;
        margin: 10px 0 0 7px;
      }

      label {
        display: flex;
        cursor: pointer;
        align-items: center;
        padding: 15px;
        border-radius: 4px;
        border: 2px solid $border-grey-color;
        color: $dark-grey-color;

        &:before {
          content: '';
          display: block;
          margin-right: 10px;

          @include circle(12px, transparent);
          border: 2px solid $border-grey-color;
        }
      }

      input:checked + label {
        color: $black;
        border: 2px solid $primary-color;
        background: $primary-light-color;

        &:before {
          background: $primary-color;
          border: 0;
        }
      }
    }
  }

  &__error {
    margin:10px 0;
    color: $error-color;

    &_hidden {
      display: none;
    }
  }

  // comment
  &__comment {
    font-size:$small-font-size;
    margin-top: 10px;
    color: $dark-grey-color;

    padding: 5px 0;
  }

  &__bill {
    margin-bottom: 20px;
  }
}

@media (min-width: map-get($breakpoints, 'tablet')) {
  .form {
    &__item {
      margin-bottom: 25px;
    }

    // comment
    &__comment {
      margin-left: 140px;
    }

    hr {
      margin-bottom: 25px;
    }

    &__input {
      display: flex;

      &_checkbox {
        width: 100%;
        padding-left:140px;
      }

      .select2-container {
        width: 100%;
        max-width: calc(100% - 140px);
      }
    }

    &__toggle-password {
      position: absolute;
      top: 16px;
      right: 20px;
      color: $light-grey-color;
    }

    &__label {
      display: flex;
      align-items: center;

      flex-shrink: 0;

      height: 48px;
      width: 140px;
      margin-bottom: 0;

      &_checkbox {
        display: block;
        width: 100%;
        height: auto;
      }
    }

    &__forgot {
      margin-bottom: 25px;
    }

    &__radio {
      &-item {
        label {
          padding: 15px;
        }
      }
    }
  }
}

@media (min-width: map-get($breakpoints, 'desktop')) {
  .form {
    // comment
    &__comment {
      margin-left: 192px;
    }

    &__item {
      &_patronages {
        display: flex;
      }
    }

    &__input {
      &_checkbox {
        padding-left:192px;
      }

      .select2-container {
        width: 100%;
        max-width: calc(100% - 192px);
      }
    }

    &__description {
      width: 192px;
      flex-shrink: 0;
    }

    &__label {
      width: 192px;

      &_checkbox {
        width: 100%;
      }
    }
  }
}