.gdpr {
  position: fixed;
  bottom: 10px;
  left: 15px;
  z-index: 2;

  width:calc(100vw - 30px);
  border-radius: 10px;

  background: $white;
  border: 1px solid $border-grey-color;

  &_hidden {
    display: none;
  }

  &__description {
    border-bottom:1px solid $border-grey-color;
    padding: 10px 15px;
    text-align: center;
  }

  &__actions {
    display: flex;
  }

  &__allow {
    color: $white;
    background: $primary-color;
    border-bottom-left-radius: 10px;
  }

  &__allow, &__deny {
    width: 50%;
    padding: 7px 15px;
    text-align: center;
    cursor: pointer;
  }
}

@media (min-width: map_get($breakpoints, 'tablet')) {
  .gdpr {
    width: 230px;
    right: 50px;
    left: auto;
    bottom: 50px;
  }
}

