.hamburger {
  width: 30px;
  height: 21px;

  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-end;

  &__line {
    background: $dark-grey-color;
    height: 2px;
    flex-shrink: 0;
    width: 100%;

    transition: .4s ease-out;

    &:nth-child(2) {
      width: 40%;
    }

    &:nth-child(3) {
      width: 70%;
    }
  }

  &_close &__line:nth-child(2) {
    opacity: 0;
    width: 0;
  }

  &_close &__line:nth-child(1) {
    width: 70%;
    transform: rotate(-45deg) translateY(7px) translateX(-7px);
  }

  &_close &__line:nth-child(3) {
    transform: rotate(45deg) translateY(-7px) translateX(-7px);
  }
}