.legend {
  &__item {
    margin-bottom: 20px;

    &:last-child {
      margin-bottom: 0;
    }
  }

  &__info {
    display: flex;
    align-items: center;

    &:before {
      content: '';
      display: block;
      margin-right: 15px;
      @include circle(24px, $light-grey-color);
    }
  }

  &__item_primary &__info {
    &:before {
      background: $primary-gradient;
    }
  }

  &__item_secondary &__info {
    &:before {
      background: $secondary-gradient;
    }
  }

  &__item_tertiary &__info {
    &:before {
      background: $tertiary-gradient;
    }
  }

  &__name {
    color: $black;
    font-weight: 500;
  }

  &__number {
    color: $light-grey-color;
    margin-left: 10px;
    font-weight: 400;
  }

  &__link {
    display: block;
    margin-top: 5px;
    margin-left: 39px;
  }
}