.logo {
  width: 36px;
  height: 36px;
  background: url('../images/svg/logo.svg') center left no-repeat;
  background-size: 131px;
}

.logo-wrapper {
  display: block;
}

@media (min-width: map-get($breakpoints, 'tablet')) {
  .logo {
    height: 40px;
    width: 164px;
    background-size: 164px;
  }
}