.pagination {
  display: flex;
  justify-content: flex-end;
  flex-wrap: wrap;

  &__item {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 48px;
    height: 48px;
    border-radius: 4px;
    background: $white;
    border: 1px solid $border-grey-color;
    margin-left: 15px;
    margin-bottom: 15px;
    color: $dark-grey-color;

    &:hover {
      text-decoration: none;
    }

    &:first-child {
      margin-right: 0;
    }

    &_active {
      background: $primary-color;
      color: $white;
      border-color: $border-primary-color;
    }

    &_space {
      width: 24px;
      background-color: transparent;
      border-color: transparent;
    }
  }
}