.patronages {
  &__two-columns {
    margin-bottom: 30px;

    &:last-of-type {
      margin-bottom: 0;
    }
  }

  &__item {
    position: relative;
    padding-bottom: 30px;
    margin-bottom: 20px;
    border-bottom: 1px solid $border-grey-color;
    opacity: 1;
    transition: .4s ease-out;

    &:last-child {
      margin-bottom: 0;
      padding-bottom: 0;
      border-bottom: 0;
    }

    &_hidden {
      opacity: 0;
    }
  }

  &__delete {
    position: absolute;
    top: 0;
    right: 0;
    width: 24px;
    height: 24px;
    background: url('../images/svg/delete_24px.svg') center center no-repeat;
    transition: .4s ease-out;
    z-index: 1;
    cursor: pointer;

    &_hidden {
      z-index: -1;
      opacity: 0;
    }
  }

  &__column {
    margin-bottom: 20px;

    label {
      color: $dark-grey-color;
    }

    &:last-child {
      margin-bottom: 0;
    }
  }

  &__add-item {
    margin-top: 20px;
    color: $primary-color;
    cursor: pointer;

    &:hover {
      text-decoration: underline;
    }
  }

  &__header {
    display: none;
  }
}

@media (min-width: map-get($breakpoints, 'tablet')) {
  .patronages {
    &__item {
      margin-bottom: 25px;
    }

    &__delete {
      top: 12px;
      right: -26px;
    }

    &__column {
      margin-bottom: 25px;
    }
  }
}

@media (min-width: map-get($breakpoints, 'desktop')) {
  .patronages {
    &__header {
      display: flex;
      justify-content: space-between;
      margin-bottom: 20px;
    }

    &__title {
      width: calc(50% - 15px);
    }

    &__two-columns {
      display: flex;
      justify-content: space-between;
    }

    &__delete {
      top: 12px;
      left: -40px;
    }

    &__column {
      width: calc(50% - 15px);
      margin-bottom: 0;

      label {
        display: none;
      }
    }
  }
}