.payment {
  &__item {
    padding: 30px;
    border-radius: 10px;
    border: 1px solid $border-grey-color;
    margin-bottom: 20px;

    &:last-child {
      margin-bottom:0;
    }

    &_active {
      background: $primary-light-gradient no-repeat center center;
      width: calc(100% + 20px);
      margin-left: -10px;
    }
  }

  &__period {
    margin-bottom: 5px;
  }

  &__price {
    font-size: $h1-font-size;
    font-weight: 500;
    margin-bottom: 30px;
  }

  &__item_active &__price {
    margin-bottom: 40px;
  }

  &__button:hover {
    text-decoration: none;
  }
}

@media (min-width: map_get($breakpoints, 'tablet')) {
  .payment {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;

    &__item {
      width: calc(33.33333% - 20px);
      margin-bottom: 0;
      margin-left: 0;
      margin-top: 10px;

      &_active {
        margin-top: 0;
        width: calc(33.33333% + 10px);
        padding-bottom: 40px;
      }
    }
  }
}