.search {
  position: relative;
  width: 100%;

  &__submit {
    content: '';
    position: absolute;
    right: 12px;
    top: 12px;
    height: 24px;
    width: 24px;
    background: url('../images/svg/search_24px.svg') center center no-repeat;
    border: 0;
    cursor: pointer;
  }

  &__input {
    width: 100%;
    padding: 10px 42px 10px 20px;
    border-radius: 4px;
    height: 48px;
    border: 1px solid $border-grey-color;
  }
}
