.skip-button {
  display: flex;
  align-items: center;
  width: 65px;

  &:hover {
    text-decoration: none;

    p {
      text-decoration: underline;
    }
  }

  &:after {
    content: '';
    display: inline-block;
    height: 10px;
    width: 15px;
    margin-left: 10px;
    background: url('../images/svg/arrow-right.svg') no-repeat center center;
  }
}