.stages {
  display: none;
}

@media (min-width: map_get($breakpoints, 'desktop')) {
  .stages {
    display: flex;
    height: 100%;

    &__item {
      display: flex;
      align-items: center;

      height: 100%;
      padding: 0 30px;

      color: $light-grey-color;

      span {
        &:before {
          content: '';
          display: inline-block;
          transform: translateY(4px);
          margin-right: 15px;
          width: 20px;
          height: 20px;
          border-radius: 10px;
          border: 2px solid $light-grey-color;
        }
      }


      &:first-child {
        margin-left: 60px;
      }

      &_active {
        background: $primary-light-color;
        color: $primary-color;

        span {
          &:before {
            border: 2px solid $primary-color;
          }
        }
      }

      &_done {
        color: $primary-color;
        opacity: .4;

        span {
          line-height: 28px;

          &:before {
            height: 24px;
            width: 24px;
            border: 0;
            background: url('../images/svg/done.svg') transparent no-repeat center center;
          }
        }
      }
    }
  }
}
