.toolbar {
  @include white-box;
  overflow: hidden;

  &__item {
    border-bottom: 1px solid $border-grey-color;

    &:last-child {
      border-bottom: 0;
    }

    a {
      display: flex;
      align-items: center;
      height: 100%;
      width: 100%;
      padding: 15px;
      color: $primary-color;

      &:before {
        content: '';
        display: block;
        height: 24px;
        width: 24px;
        background: url('../images/svg/settings_24px_primary.svg');
        margin-right: 15px;
      }

      &:hover {
        text-decoration: none;
        background: $primary-light-color;
      }
    }

    &_delete {
      a {
        color: $light-grey-color;

        &:hover {
          background: $background-grey-color;
        }

        &:before {
          background: url('../images/svg/delete_24px.svg');
        }
      }
    }

    $menu-items: ('upload', 'edit', 'download', 'materials', 'details');

    @each $item in $menu-items {
      &_#{$item} {
        a:before {
          background-image: url('../images/svg/#{$item}_24px_primary.svg');
        }
      }
    }
  }
}