.user {
  padding: 15px 30px;
  border-bottom: 1px solid $border-grey-color;

  &:last-child {
    border-bottom: 0;
  }

  &__name {
    color: $black;
    font-size: 20px;
    font-weight: 700;
    line-height: 1.5;

    &:hover {
      text-decoration: none;
    }
  }

  &__actions {
    margin-top: 15px;
  }

  &__edit {
    display: block;
    line-height: 1.5;
  }
}

@media (min-width: map_get($breakpoints, 'tablet')) {
  .user {
    display: flex;
    justify-content: space-between;

    &__actions {
      padding-left: 30px;
    }
  }
}